openapi: 3.2.0
info:
  title: APIVerve Geography API
  description: One API key, 370+ real-world REST endpoints — weather, geocoding, finance, DNS, validation, text processing and more. Every endpoint returns JSON. Full documentation at https://docs.apiverve.com.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  license:
    name: APIVerve Terms of Service
    url: https://apiverve.com/terms/
  version: 1.0.0
  x-logo:
    url: https://apiverve.com/images/favicon.png
    altText: APIVerve
servers:
- url: https://api.apiverve.com
security:
- api_key: []
tags:
- name: Geography
paths:
  /v1/citieslookup:
    get:
      summary: Cities Lookup
      description: Lookup city data based on the city name
      operationId: citieslookup
      parameters:
      - name: city
        in: query
        schema:
          type: string
        required: true
        description: The city name for which you want to get the data (e.g., New York)
        example: San Francisco
      - name: limit
        in: query
        schema:
          type: integer
        required: false
        description: Limit number of cities that match your search criteria
        example: 5
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  search: San Francisco
                  foundCities:
                  - name: San Francisco
                    altName: ''
                    country: US
                    countryName: United States
                    featureCode: PPLA2
                    population: 874961
                    populationCategory: major
                    loc:
                      type: Point
                      coordinates:
                      - -122.4194
                      - 37.7749
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Geography
  /v1/coordinatesaresea:
    get:
      summary: Coordinates Are Sea
      description: Check if the coordinates are in the sea
      operationId: coordinatesaresea
      parameters:
      - name: lat
        in: query
        schema:
          type: number
        required: true
        description: The latitude of the coordinates
        example: 37.7749
      - name: lon
        in: query
        schema:
          type: number
        required: true
        description: The longitude of the coordinates
        example: -122.4194
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  latitude: 37.7749
                  longitude: -122.4194
                  isSea: false
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Geography
  /v1/countryborders:
    get:
      summary: Country Borders
      description: Country Borders is a simple tool for getting the list of neighboring countries for a specific country. It returns the list of neighboring countries for the specified country.
      operationId: countryborders
      parameters:
      - name: country
        in: query
        schema:
          type: string
        required: true
        description: The Country 2 Letter ISO code (e.g., CA)
        example: CA
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  country: Canada
                  cca2: CA
                  landlocked: false
                  region: Americas
                  subregion: Northern America
                  coordinates:
                    lat: 60
                    lng: -95
                  borders:
                  - USA
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Geography
  /v1/countryboundaries:
    get:
      summary: Country Boundaries
      description: Country Boundaries is a simple tool for getting the shape of a specific country's border. It returns the shape of the specified country's border.
      operationId: countryboundaries
      parameters:
      - name: country
        in: query
        schema:
          type: string
        required: true
        description: The Country 2 Letter ISO code (e.g., CA)
        example: CA
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  features:
                  - geometry:
                      coordinates:
                      - - - - -127.23
                            - 50.64
                          - - -125.45
                            - 50.32
                          - - -123.29
                            - 48.41
                          - - -125.11
                            - 48.73
                          - - -124.81
                            - 49.24
                          - - -125.48
                            - 48.92
                          - - -125.9
                            - 49.44
                          - - -126.54
                            - 49.37
                          - - -126.09
                            - 49.66
                          - - -127.9
                            - 50.11
                          - - -127.41
                            - 50.59
                          - - -128.42
                            - 50.77
                          - - -127.23
                            - 50.64
                      - - - - -53.76
                            - 48.5
                          - - -52.98
                            - 48.6
                          - - -53.95
                            - 48.18
                          - - -53.55
                            - 47.53
                          - - -52.83
                            - 48.1
                          - - -53.27
                            - 47.61
                          - - -52.61
                            - 47.52
                          - - -53.1
                            - 46.64
                          - - -53.62
                            - 46.64
                          - - -53.59
                            - 47.16
                          - - -54.19
                            - 46.82
                          - - -53.87
                            - 47.4
                          - - -54.2
                            - 47.86
                          - - -55.69
                            - 46.86
                          - - -55.98
                            - 46.95
                          - - -54.94
                            - 47.78
                          - - -55.59
                            - 47.4
                          - - -56.17
                            - 47.5
                          - - -55.77
                            - 47.96
                          - - -56.84
                            - 47.52
                          - - -59.41
                            - 47.89
                          - - -58.42
                            - 48.49
                          - - -59.26
                            - 48.48
                          - - -58.4
                            - 49.13
                          - - -57.88
                            - 48.97
                          - - -58.22
                            - 49.39
                          - - -57.7
                            - 49.46
                          - - -57.38
                            - 50.69
                          - - -55.9
                            - 51.63
                          - - -55.41
                            - 51.56
                          - - -56.09
                            - 51.37
                          - - -55.73
                            - 51.08
                          - - -56.85
                            - 49.54
                          - - -56.15
                            - 50.15
                          - - -55.49
                            - 50.01
                          - - -56.13
                            - 49.43
                          - - -55.14
                            - 49.55
                          - - -55.38
                            - 49.04
                          - - -53.78
                            - 49.4
                          - - -53.49
                            - 49.22
                          - - -54.1
                            - 48.81
                          - - -53.76
                            - 48.5
                        - - - -53.76
                            - 48.5
                          - - -54.09
                            - 48.43
                          - - -54.14
                            - 48.36
                          - - -53.76
                            - 48.5
                      - - - - -85.48
                            - 65.79
                          - - -84.92
                            - 65.21
                          - - -84.44
                            - 65.46
                          - - -81.76
                            - 64.5
                          - - -81.99
                            - 63.99
                          - - -80.17
                            - 63.77
                          - - -81.08
                            - 63.45
                          - - -83.07
                            - 64.19
                          - - -85.27
                            - 63.12
                          - - -85.72
                            - 63.72
                          - - -87.19
                            - 63.59
                          - - -86.19
                            - 64.1
                          - - -86.1
                            - 65.53
                          - - -85.48
                            - 65.79
                      - - - - -95.9
                            - 66.95
                          - - -95.22
                            - 66.97
                          - - -95.71
                            - 67.73
                          - - -95.47
                            - 68.06
                          - - -93.55
                            - 68.59
                          - - -93.67
                            - 68.97
                          - - -94.63
                            - 68.76
                          - - -94.3
                            - 69.3
                          - - -93.36
                            - 69.37
                          - - -96.53
                            - 70.13
                          - - -95.79
                            - 70.54
                          - - -96.61
                            - 70.79
                          - - -96.5
                            - 71.28
                          - - -94.61
                            - 71.86
                          - - -95.22
                            - 71.94
                          - - -93.71
                            - 71.76
                          - - -92.97
                            - 71.34
                          - - -93.03
                            - 70.85
                          - - -91.51
                            - 70.17
                          - - -92.92
                            - 69.67
                          - - -90.31
                            - 69.45
                          - - -91.45
                            - 69.35
                          - - -90.44
                            - 68.87
                          - - -90.27
                            - 68.24
                          - - -89.31
                            - 69.25
                          - - -88.05
                            - 68.82
                          - - -87.79
                            - 68.33
                          - - -88.37
                            - 67.96
                          - - -87.51
                            - 67.11
                          - - -86.52
                            - 67.35
                          - - -85.66
                            - 68.73
                          - - -84.53
                            - 69.02
                          - - -85.47
                            - 69.27
                          - - -85.57
                            - 69.86
                          - - -82.26
                            - 69.64
                          - - -83.23
                            - 69.54
                          - - -81.33
                            - 69.18
                          - - -82.06
                            - 68.87
                          - - -81.27
                            - 68.63
                          - - -82.64
                            - 68.5
                          - - -81.24
                            - 67.47
                          - - -81.5
                            - 67
                          - - -83.4
                            - 66.35
                          - - -83.92
                            - 66.88
                          - - -84.27
                            - 66.72
                          - - -84.37
                            - 66.97
                          - - -84.92
                            - 67.06
                          - - -84.64
                            - 66.98
                          - - -85.23
                            - 66.88
                          - - -84.6
                            - 66.94
                          - - -83.69
                            - 66.19
                          - - -86.78
                            - 66.53
                          - - -85.9
                            - 66.17
                          - - -87.4
                            - 65.32
                          - - -91.43
                            - 65.95
                          - - -86.93
                            - 65.14
                          - - -88.11
                            - 64.14
                          - - -90.12
                            - 64.13
                          - - -89.81
                            - 63.94
                          - - -90.28
                            - 64
                          - - -90.21
                            - 63.61
                          - - -92.48
                            - 63.81
                          - - -90.63
                            - 63.06
                          - - -92.42
                            - 62.83
                          - - -91.89
                            - 62.6
                          - - -93.62
                            - 61.94
                          - - -93.24
                            - 61.78
                          - - -93.98
                            - 61.46
                          - - -94.82
                            - 59.64
                          - - -94.23
                            - 58.78
                          - - -94.36
                            - 58.22
                          - - -94.14
                            - 58.76
                          - - -93.15
                            - 58.74
                          - - -92.42
                            - 57.34
                          - - -92.88
                            - 56.91
                          - - -90.82
                            - 57.26
                          - - -85.71
                            - 55.63
                          - - -85.12
                            - 55.34
                          - - -85.42
                            - 54.99
                          - - -82.31
                            - 55.15
                          - - -82.3
                            - 53.02
                          - - -81.55
                            - 52.44
                          - - -81.88
                            - 52.19
                          - - -80.44
                            - 51.46
                          - - -81.02
                            - 51.03
                          - - -80.12
                            - 51.3
                          - - -79.33
                            - 50.72
                          - - -79.75
                            - 51.18
                          - - -79.32
                            - 51.66
                          - - -78.85
                            - 51.17
                          - - -79.04
                            - 51.77
                          - - -78.51
                            - 52.46
                          - - -79.05
                            - 54.18
                          - - -79.76
                            - 54.65
                          - - -77.75
                            - 55.3
                          - - -76.53
                            - 56.32
                          - - -76.86
                            - 57.72
                          - - -78.57
                            - 58.64
                          - - -77.77
                            - 59.71
                          - - -77.31
                            - 59.56
                          - - -77.43
                            - 59.91
                          - - -76.76
                            - 60.16
                          - - -77.59
                            - 60.06
                          - - -77.41
                            - 60.54
                          - - -77.83
                            - 60.64
                          - - -77.51
                            - 60.84
                          - - -78.19
                            - 60.79
                          - - -77.47
                            - 61.54
                          - - -78.16
                            - 62.28
                          - - -77.51
                            - 62.56
                          - - -74.57
                            - 62.1
                          - - -73.68
                            - 62.48
                          - - -72.01
                            - 61.68
                          - - -72.3
                            - 61.57
                          - - -71.58
                            - 61.61
                          - - -71.89
                            - 61.43
                          - - -71.39
                            - 61.14
                          - - -69.52
                            - 61.07
                          - - -69.62
                            - 60.07
                          - - -70.95
                            - 60.06
                          - - -69.6
                            - 59.83
                          - - -69.76
                            - 59.32
                          - - -69.23
                            - 59.23
                          - - -70.15
                            - 58.78
                          - - -69.82
                            - 58.59
                          - - -68.36
                            - 58.78
                          - - -68.34
                            - 58.13
                          - - -69.37
                            - 57.77
                          - - -68.4
                            - 58.04
                          - - -68
                            - 58.58
                          - - -68.13
                            - 58.07
                          - - -67.72
                            - 58.46
                          - - -67.71
                            - 57.92
                          - - -66.39
                            - 58.85
                          - - -66.06
                            - 58.32
                          - - -65.99
                            - 58.9
                          - - -65.32
                            - 59.04
                          - - -65.56
                            - 59.49
                          - - -64.98
                            - 59.38
                          - - -65.53
                            - 59.72
                          - - -64.47
                            - 60.28
                          - - -64.83
                            - 59.99
                          - - -64.17
                            - 60.02
                          - - -63.72
                            - 59.51
                          - - -64.06
                            - 59.38
                          - - -63.36
                            - 59.2
                          - - -64.04
                            - 59.02
                          - - -62.85
                            - 58.69
                          - - -63.59
                            - 58.3
                          - - -62.56
                            - 58.48
                          - - -63.34
                            - 57.98
                          - - -62.45
                            - 58.18
                          - - -62.67
                            - 57.93
                          - - -61.88
                            - 57.63
                          - - -62.55
                            - 57.5
                          - - -61.36
                            - 57.09
                          - - -61.67
                            - 56.62
                          - - -62.57
                            - 56.79
                          - - -60.67
                            - 55.59
                          - - -60.33
                            - 55.78
                          - - -60.68
                            - 54.99
                          - - -59.78
                            - 55.33
                          - - -59.43
                            - 55.14
                          - - -59.94
                            - 54.75
                          - - -59.16
                            - 55.24
                          - - -59.39
                            - 54.98
                          - - -57.35
                            - 54.58
                          - - -60.13
                            - 53.53
                          - - -60.86
                            - 53.79
                          - - -60.1
                            - 53.5
                          - - -60.42
                            - 53.27
                          - - -57.79
                            - 54.07
                          - - -58.18
                            - 54.24
                          - - -57.38
                            - 54.15
                          - - -57.34
                            - 53.44
                          - - -56.46
                            - 53.78
                          - - -55.81
                            - 53.34
                          - - -56.17
                            - 53.03
                          - - -55.76
                            - 52.61
                          - - -56.5
                            - 52.59
                          - - -55.65
                            - 52.44
                          - - -56.2
                            - 52.44
                          - - -55.7
                            - 52.08
                          - - -56.95
                            - 51.42
                          - - -58.63
                            - 51.28
                          - - -60.01
                            - 50.25
                          - - -66.47
                            - 50.26
                          - - -67.38
                            - 49.33
                          - - -69.06
                            - 48.77
                          - - -71.3
                            - 46.74
                          - - -68.21
                            - 48.64
                          - - -65
                            - 49.22
                          - - -64.22
                            - 48.9
                          - - -64.55
                            - 48.88
                          - - -64.25
                            - 48.49
                          - - -66.84
                            - 47.99
                          - - -64.8
                            - 47.81
                          - - -65.37
                            - 47.09
                          - - -64.8
                            - 47.08
                          - - -64.5
                            - 46.24
                          - - -62.46
                            - 45.61
                          - - -61.92
                            - 45.89
                          - - -60.96
                            - 45.31
                          - - -64.2
                            - 44.58
                          - - -65.48
                            - 43.46
                          - - -66.17
                            - 43.86
                          - - -65.84
                            - 44.58
                          - - -66.19
                            - 44.42
                          - - -64.49
                            - 45.34
                          - - -64.16
                            - 44.98
                          - - -63.36
                            - 45.36
                          - - -64.94
                            - 45.33
                          - - -64.28
                            - 45.8
                          - - -64.75
                            - 46.09
                          - - -64.78
                            - 45.61
                          - - -67.21
                            - 45.18
                          - - -67.8
                            - 45.7
                          - - -67.79
                            - 47.07
                          - - -69.23
                            - 47.47
                          - - -70.88
                            - 45.24
                          - - -74.99
                            - 44.99
                          - - -76.8
                            - 43.63
                          - - -78.72
                            - 43.63
                          - - -79.18
                            - 43.47
                          - - -78.99
                            - 42.82
                          - - -82.7
                            - 41.68
                          - - -83.17
                            - 42.05
                          - - -82.13
                            - 43.59
                          - - -82.54
                            - 45.36
                          - - -84.13
                            - 46.53
                          - - -88.37
                            - 48.31
                          - - -91.42
                            - 48.04
                          - - -94.61
                            - 48.72
                          - - -95.08
                            - 49.36
                          - - -95.15
                            - 49
                          - - -122.76
                            - 49
                          - - -123.21
                            - 49.13
                          - - -122.85
                            - 49.44
                          - - -123.24
                            - 49.34
                          - - -123.16
                            - 49.7
                          - - -123.96
                            - 49.51
                          - - -123.53
                            - 49.7
                          - - -123.83
                            - 50.16
                          - - -123.98
                            - 49.8
                          - - -124.77
                            - 49.99
                          - - -124.35
                            - 50.5
                          - - -125.08
                            - 50.32
                          - - -124.81
                            - 50.92
                          - - -125.71
                            - 50.43
                          - - -126.27
                            - 50.63
                          - - -125.62
                            - 50.75
                          - - -125.63
                            - 51.1
                          - - -126.13
                            - 50.68
                          - - -126.56
                            - 50.84
                          - - -126.18
                            - 50.95
                          - - -127.18
                            - 50.93
                          - - -127.03
                            - 50.82
                          - - -127.54
                            - 51.01
                          - - -126.66
                            - 51.19
                          - - -127.79
                            - 51.17
                          - - -126.62
                            - 51.68
                          - - -127.88
                            - 51.67
                          - - -127.17
                            - 52.31
                          - - -126.67
                            - 51.98
                          - - -126.73
                            - 52.37
                          - - -127.19
                            - 52.38
                          - - -127.02
                            - 52.85
                          - - -128.39
                            - 52.29
                          - - -128.13
                            - 52.88
                          - - -128.97
                            - 53.55
                          - - -127.87
                            - 53.24
                          - - -128.81
                            - 53.62
                          - - -128.6
                            - 54.03
                          - - -129.27
                            - 53.38
                          - - -130.05
                            - 53.89
                          - - -129.47
                            - 54.24
                          - - -130.48
                            - 54.36
                          - - -129.96
                            - 54.32
                          - - -130.37
                            - 54.65
                          - - -129.91
                            - 54.61
                          - - -130.17
                            - 54.85
                          - - -129.47
                            - 55.47
                          - - -130.11
                            - 55
                          - - -130.16
                            - 55.09
                          - - -129.94
                            - 55.28
                          - - -130.1
                            - 55.56
                          - - -130.13
                            - 55.72
                          - - -130.02
                            - 55.91
                          - - -131.82
                            - 56.6
                          - - -133.43
                            - 58.46
                          - - -135.47
                            - 59.8
                          - - -137.48
                            - 58.91
                          - - -139.07
                            - 60.35
                          - - -141
                            - 60.31
                          - - -141
                            - 69.64
                          - - -134.31
                            - 68.68
                          - - -134.55
                            - 69.09
                          - - -132.89
                            - 69.65
                          - - -129.4
                            - 70.12
                          - - -133.49
                            - 68.83
                          - - -132.92
                            - 68.69
                          - - -133.35
                            - 68.83
                          - - -127.52
                            - 70.22
                          - - -128
                            - 70.59
                          - - -125.43
                            - 69.31
                          - - -124.82
                            - 69.71
                          - - -125.2
                            - 70
                          - - -124.44
                            - 70.15
                          - - -124.5
                            - 69.73
                          - - -124.04
                            - 69.7
                          - - -124.45
                            - 69.37
                          - - -121.68
                            - 69.79
                          - - -114.07
                            - 68.48
                          - - -115.54
                            - 67.92
                          - - -115.1
                            - 67.8
                          - - -110.08
                            - 68.01
                          - - -108.02
                            - 67.29
                          - - -108.62
                            - 67.15
                          - - -107.25
                            - 66.35
                          - - -107.75
                            - 66.92
                          - - -107.08
                            - 66.82
                          - - -107.89
                            - 68.08
                          - - -106.43
                            - 68.15
                          - - -106.47
                            - 68.34
                          - - -105.74
                            - 68.42
                          - - -105.64
                            - 68.63
                          - - -106.54
                            - 68.51
                          - - -106.54
                            - 68.29
                          - - -107.89
                            - 68.27
                          - - -107.6
                            - 68.17
                          - - -108.82
                            - 68.27
                          - - -106.23
                            - 68.94
                          - - -105.49
                            - 68.73
                          - - -105.54
                            - 68.41
                          - - -104.61
                            - 68.24
                          - - -104.5
                            - 68.03
                          - - -102.25
                            - 67.73
                          - - -98.35
                            - 67.8
                          - - -98.62
                            - 68.07
                          - - -97.51
                            - 67.6
                          - - -97.12
                            - 67.79
                          - - -98.71
                            - 68.37
                          - - -95.98
                            - 68.25
                          - - -96.46
                            - 67.48
                          - - -95.33
                            - 67.03
                          - - -95.9
                            - 66.95
                        - - - -95.9
                            - 66.95
                          - - -96.46
                            - 67.06
                          - - -95.63
                            - 66.68
                          - - -95.9
                            - 66.95
                        - - - -93.52
                            - 63.84
                          - - -92.51
                            - 63.82
                          - - -93.78
                            - 64.19
                          - - -93.52
                            - 63.84
                        - - - -70.78
                            - 48.38
                          - - -69.83
                            - 48.17
                          - - -71.05
                            - 48.45
                          - - -70.78
                            - 48.38
                      - - - - -114
                            - 72.8
                          - - -114.6
                            - 72.6
                          - - -113.03
                            - 73.01
                          - - -111.22
                            - 72.72
                          - - -111.66
                            - 72.28
                          - - -109.78
                            - 72.43
                          - - -110.76
                            - 72.97
                          - - -109.66
                            - 72.92
                          - - -108.62
                            - 72.55
                          - - -107.83
                            - 71.6
                          - - -107.25
                            - 71.9
                          - - -108.29
                            - 73.15
                          - - -106.76
                            - 73.29
                          - - -105.33
                            - 72.75
                          - - -104.36
                            - 71.57
                          - - -104.59
                            - 71.07
                          - - -101
                            - 70.17
                          - - -100.87
                            - 69.79
                          - - -103.48
                            - 69.69
                          - - -103.02
                            - 69.49
                          - - -103.19
                            - 69.11
                          - - -102.31
                            - 69.5
                          - - -101.75
                            - 69.18
                          - - -102.89
                            - 68.8
                          - - -105.14
                            - 68.9
                          - - -106.6
                            - 69.5
                          - - -109.1
                            - 68.71
                          - - -113.27
                            - 68.45
                          - - -113.52
                            - 69.18
                          - - -116.53
                            - 69.41
                          - - -117.44
                            - 69.99
                          - - -111.49
                            - 70.34
                          - - -117.56
                            - 70.6
                          - - -118.42
                            - 70.99
                          - - -115.06
                            - 71.52
                          - - -118.11
                            - 71.37
                          - - -117.7
                            - 71.67
                          - - -119.13
                            - 71.77
                          - - -117.35
                            - 72.92
                          - - -114.56
                            - 73.38
                          - - -114
                            - 72.8
                      - - - - -73.35
                            - 68.33
                          - - -74.82
                            - 69.08
                          - - -76.66
                            - 68.7
                          - - -75.59
                            - 69.22
                          - - -77.2
                            - 69.65
                          - - -76.98
                            - 69.94
                          - - -77.63
                            - 69.74
                          - - -77.68
                            - 70.19
                          - - -79.01
                            - 70.68
                          - - -79.59
                            - 70.4
                          - - -78.79
                            - 69.89
                          - - -81.76
                            - 70.12
                          - - -80.95
                            - 69.71
                          - - -82.1
                            - 70.11
                          - - -83.01
                            - 70.3
                          - - -81.71
                            - 69.93
                          - - -81.74
                            - 69.87
                          - - -82.02
                            - 69.87
                          - - -82.14
                            - 69.78
                          - - -83.07
                            - 70.01
                          - - -85.82
                            - 70
                          - - -86.55
                            - 70.23
                          - - -86.37
                            - 70.53
                          - - -87.92
                            - 70.24
                          - - -89.55
                            - 71.09
                          - - -87
                            - 70.99
                          - - -89.83
                            - 71.33
                          - - -90.05
                            - 71.95
                          - - -88.41
                            - 73.52
                          - - -85.07
                            - 73.8
                          - - -86.73
                            - 72.72
                          - - -86.24
                            - 72.42
                          - - -86.42
                            - 72.01
                          - - -84.83
                            - 71.27
                          - - -86.82
                            - 70.99
                          - - -84.8
                            - 70.92
                          - - -84.63
                            - 71.67
                          - - -86.05
                            - 72.01
                          - - -84.16
                            - 72.02
                          - - -85.69
                            - 72.89
                          - - -83.95
                            - 72.75
                          - - -85.45
                            - 73.12
                          - - -83.63
                            - 72.98
                          - - -85.19
                            - 73.23
                          - - -81.55
                            - 73.72
                          - - -80.25
                            - 72.73
                          - - -81.38
                            - 72.24
                          - - -80.52
                            - 72.5
                          - - -80.97
                            - 71.88
                          - - -79.67
                            - 72.13
                          - - -80.17
                            - 72.32
                          - - -79.8
                            - 72.5
                          - - -79.01
                            - 72.27
                          - - -79.2
                            - 71.96
                          - - -77.79
                            - 71.79
                          - - -78.87
                            - 72.23
                          - - -77
                            - 72.13
                          - - -78.56
                            - 72.44
                          - - -77.61
                            - 72.75
                          - - -75.19
                            - 72.49
                          - - -74.95
                            - 72.25
                          - - -76.35
                            - 71.89
                          - - -74.12
                            - 71.98
                          - - -75.39
                            - 71.68
                          - - -74.63
                            - 71.66
                          - - -75.08
                            - 71.18
                          - - -73.75
                            - 71.78
                          - - -74.24
                            - 71.2
                          - - -73.62
                            - 71.58
                          - - -73.38
                            - 71.39
                          - - -73.9
                            - 71.06
                          - - -73.05
                            - 71.27
                          - - -73.38
                            - 70.98
                          - - -72.54
                            - 71.66
                          - - -71.12
                            - 71.26
                          - - -72.57
                            - 70.61
                          - - -70.6
                            - 71.05
                          - - -71.8
                            - 70.43
                          - - -71.16
                            - 70.53
                          - - -71.54
                            - 70.02
                          - - -69.9
                            - 70.88
                          - - -70.5
                            - 70.48
                          - - -68.31
                            - 70.56
                          - - -70.47
                            - 69.84
                          - - -67.79
                            - 70.26
                          - - -67.13
                            - 69.73
                          - - -70.03
                            - 69.54
                          - - -66.8
                            - 69.34
                          - - -69.02
                            - 69.35
                          - - -68.08
                            - 69.22
                          - - -69.03
                            - 68.97
                          - - -68.18
                            - 69.15
                          - - -67.71
                            - 69.02
                          - - -68.56
                            - 68.96
                          - - -67.77
                            - 68.78
                          - - -69.4
                            - 68.86
                          - - -68.04
                            - 68.68
                          - - -68.9
                            - 68.6
                          - - -68.47
                            - 68.61
                          - - -68.71
                            - 68.57
                          - - -67.5
                            - 68.54
                          - - -67.61
                            - 68.38
                          - - -66.71
                            - 68.44
                          - - -67.88
                            - 68.27
                          - - -67.23
                            - 68.36
                          - - -67.01
                            - 68.32
                          - - -67.6
                            - 68.16
                          - - -67.01
                            - 68.29
                          - - -66.77
                            - 68.24
                          - - -66.95
                            - 68.01
                          - - -66.18
                            - 68.02
                          - - -66.73
                            - 67.87
                          - - -66.36
                            - 67.82
                          - - -65.91
                            - 68.16
                          - - -66.01
                            - 67.63
                          - - -64.72
                            - 67.99
                          - - -65.2
                            - 67.65
                          - - -64.51
                            - 67.81
                          - - -63.9
                            - 67.31
                          - - -64.8
                            - 67.36
                          - - -63.96
                            - 67.27
                          - - -64.69
                            - 67
                          - - -63.11
                            - 67.33
                          - - -63.77
                            - 66.81
                          - - -62.1
                            - 67.05
                          - - -61.26
                            - 66.63
                          - - -62.9
                            - 66.33
                          - - -61.95
                            - 66.02
                          - - -62.97
                            - 66.15
                          - - -62.32
                            - 65.81
                          - - -63.72
                            - 65.68
                          - - -63.32
                            - 65.59
                          - - -63.55
                            - 64.89
                          - - -65.51
                            - 65.74
                          - - -64.36
                            - 66.35
                          - - -65.92
                            - 65.95
                          - - -65.47
                            - 66.39
                          - - -66.07
                            - 66.12
                          - - -67.05
                            - 66.64
                          - - -67.74
                            - 66.57
                          - - -67.28
                            - 66.28
                          - - -67.99
                            - 66.51
                          - - -67.19
                            - 65.91
                          - - -68.85
                            - 66.19
                          - - -64.66
                            - 64.03
                          - - -64.99
                            - 63.82
                          - - -64.53
                            - 63.25
                          - - -65.3
                            - 63.81
                          - - -64.63
                            - 62.9
                          - - -65.25
                            - 62.99
                          - - -65.19
                            - 62.56
                          - - -66.64
                            - 63.37
                          - - -66.55
                            - 62.99
                          - - -67.91
                            - 63.76
                          - - -67.69
                            - 63.37
                          - - -69
                            - 63.75
                          - - -65.99
                            - 62.24
                          - - -66.07
                            - 61.87
                          - - -71.4
                            - 63.05
                          - - -72.15
                            - 63.45
                          - - -71.23
                            - 63.6
                          - - -72.32
                            - 63.68
                          - - -73.38
                            - 64.27
                          - - -73.3
                            - 64.66
                          - - -74.06
                            - 64.33
                          - - -74.64
                            - 64.9
                          - - -74.99
                            - 64.8
                          - - -74.69
                            - 64.37
                          - - -75.82
                            - 64.61
                          - - -76.67
                            - 64.18
                          - - -78.18
                            - 64.57
                          - - -77.42
                            - 65.46
                          - - -75.77
                            - 65.22
                          - - -75.37
                            - 64.71
                          - - -75.19
                            - 65.1
                          - - -75.95
                            - 65.32
                          - - -73.5
                            - 65.47
                          - - -74.47
                            - 66.15
                          - - -72.26
                            - 67.25
                          - - -73.35
                            - 68.33
                        - - - -73.35
                            - 68.33
                          - - -73.21
                            - 68.38
                          - - -73.32
                            - 68.39
                          - - -73.35
                            - 68.33
                      - - - - -99.8
                            - 73.89
                          - - -96.96
                            - 73.74
                          - - -98.45
                            - 72.87
                          - - -96.52
                            - 72.71
                          - - -96.3
                            - 72.42
                          - - -96.87
                            - 72.04
                          - - -96.49
                            - 71.91
                          - - -98.27
                            - 71.9
                          - - -98.04
                            - 71.53
                          - - -98.73
                            - 71.27
                          - - -102.74
                            - 72.72
                          - - -102.14
                            - 73.09
                          - - -100.41
                            - 72.74
                          - - -100.03
                            - 72.93
                          - - -100.58
                            - 73.17
                          - - -99.77
                            - 73.21
                          - - -101.62
                            - 73.49
                          - - -100.43
                            - 73.41
                          - - -101.12
                            - 73.73
                          - - -99.8
                            - 73.89
                      - - - - -92.64
                            - 74.1
                          - - -90.19
                            - 73.9
                          - - -92.1
                            - 72.74
                          - - -94.32
                            - 72.76
                          - - -93.46
                            - 72.46
                          - - -94.06
                            - 71.98
                          - - -95.21
                            - 71.99
                          - - -94.75
                            - 72.15
                          - - -95.67
                            - 72.81
                          - - -95.67
                            - 73.72
                          - - -92.64
                            - 74.1
                      - - - - -120.15
                            - 74.27
                          - - -117.42
                            - 74.23
                          - - -115.32
                            - 73.48
                          - - -119.14
                            - 72.63
                          - - -120.25
                            - 72.26
                          - - -120.54
                            - 71.52
                          - - -122.78
                            - 71.09
                          - - -126
                            - 71.97
                          - - -123.77
                            - 73.76
                          - - -124.77
                            - 74.34
                          - - -120.15
                            - 74.27
                      - - - - -94.36
                            - 75.59
                          - - -93.49
                            - 75.26
                          - - -93.47
                            - 74.7
                          - - -96.62
                            - 74.99
                          - - -94.36
                            - 75.59
                      - - - - -98.42
                            - 76.67
                          - - -97.51
                            - 76.19
                          - - -97.94
                            - 75.74
                          - - -97.28
                            - 75.4
                          - - -98.17
                            - 75.33
                          - - -97.58
                            - 75.14
                          - - -100.15
                            - 74.99
                          - - -100.78
                            - 75.35
                          - - -98.95
                            - 75.71
                          - - -102.88
                            - 75.62
                          - - -101.18
                            - 75.78
                          - - -101.91
                            - 76.08
                          - - -101.39
                            - 76.25
                          - - -102.17
                            - 76.24
                          - - -101.89
                            - 76.44
                          - - -99.89
                            - 75.89
                          - - -99.44
                            - 75.97
                          - - -100.15
                            - 76.13
                          - - -99.41
                            - 76.16
                          - - -100.98
                            - 76.5
                          - - -98.42
                            - 76.67
                      - - - - -108.65
                            - 76.81
                          - - -108.08
                            - 76.28
                          - - -108.4
                            - 76.05
                          - - -107.63
                            - 75.99
                          - - -108.02
                            - 75.78
                          - - -106.34
                            - 76.05
                          - - -105.39
                            - 75.64
                          - - -106.01
                            - 75.05
                          - - -112.75
                            - 74.4
                          - - -114.45
                            - 74.67
                          - - -110.91
                            - 75.23
                          - - -117.68
                            - 75.25
                          - - -115
                            - 75.69
                          - - -117.25
                            - 75.6
                          - - -114.82
                            - 75.88
                          - - -116.73
                            - 75.92
                          - - -114.66
                            - 76.16
                          - - -115.93
                            - 76.29
                          - - -114.9
                            - 76.52
                          - - -112.45
                            - 76.18
                          - - -111.25
                            - 75.52
                          - - -108.9
                            - 75.48
                          - - -110.06
                            - 75.89
                          - - -109.31
                            - 76.11
                          - - -110.39
                            - 76.39
                          - - -108.65
                            - 76.81
                      - - - - -95.66
                            - 77.06
                          - - -93.18
                            - 76.74
                          - - -93.55
                            - 76.39
                          - - -91.41
                            - 76.69
                          - - -89.29
                            - 76.3
                          - - -91.61
                            - 76.26
                          - - -88.95
                            - 75.43
                          - - -81.54
                            - 75.81
                          - - -79.57
                            - 75.45
                          - - -80.44
                            - 75.04
                          - - -79.33
                            - 74.89
                          - - -81.81
                            - 74.46
                          - - -83.51
                            - 74.9
                          - - -83.47
                            - 74.58
                          - - -84.29
                            - 74.5
                          - - -88.5
                            - 74.5
                          - - -88.55
                            - 74.91
                          - - -91.54
                            - 74.65
                          - - -92.49
                            - 75.21
                          - - -92.11
                            - 75.86
                          - - -93.08
                            - 76.36
                          - - -95.38
                            - 76.23
                          - - -94.8
                            - 76.32
                          - - -96.96
                            - 76.73
                          - - -95.66
                            - 77.06
                      - - - - -116.35
                            - 77.54
                          - - -115.39
                            - 77.31
                          - - -116.28
                            - 77.18
                          - - -115.9
                            - 76.69
                          - - -117.1
                            - 76.3
                          - - -118.06
                            - 76.41
                          - - -117.84
                            - 76.82
                          - - -118.97
                            - 76.51
                          - - -118.57
                            - 76.34
                          - - -119.08
                            - 76.08
                          - - -119.65
                            - 76.3
                          - - -119.48
                            - 75.97
                          - - -119.87
                            - 75.86
                          - - -123.04
                            - 76.08
                          - - -119.15
                            - 77.33
                          - - -116.35
                            - 77.54
                      - - - - -96.77
                            - 78.68
                          - - -94.89
                            - 78.1
                          - - -97.1
                            - 77.8
                          - - -97.78
                            - 78.03
                          - - -96.87
                            - 78.13
                          - - -98.41
                            - 78.5
                          - - -96.77
                            - 78.68
                      - - - - -103.59
                            - 79.33
                          - - -99.95
                            - 78.73
                          - - -98.95
                            - 78.06
                          - - -99.91
                            - 77.78
                          - - -104.47
                            - 78.27
                          - - -105.05
                            - 78.49
                          - - -103.32
                            - 78.73
                          - - -105.63
                            - 79.16
                          - - -103.59
                            - 79.33
                      - - - - -92.73
                            - 81.31
                          - - -88.78
                            - 80.13
                          - - -87.68
                            - 80.41
                          - - -88.07
                            - 80.12
                          - - -86.96
                            - 79.9
                          - - -87.46
                            - 79.53
                          - - -84.9
                            - 79.27
                          - - -87.62
                            - 78.65
                          - - -88
                            - 78.81
                          - - -87.72
                            - 79.08
                          - - -88.16
                            - 78.99
                          - - -87.91
                            - 78.55
                          - - -88.8
                            - 78.61
                          - - -88.82
                            - 78.15
                          - - -89.98
                            - 78.61
                          - - -89.45
                            - 78.16
                          - - -92.06
                            - 78.21
                          - - -92.99
                            - 78.47
                          - - -91.64
                            - 78.55
                          - - -94.29
                            - 78.99
                          - - -90.36
                            - 79.25
                          - - -95.09
                            - 79.27
                          - - -95.78
                            - 79.43
                          - - -94.28
                            - 79.76
                          - - -95.85
                            - 79.65
                          - - -96.8
                            - 80.09
                          - - -94.38
                            - 79.98
                          - - -94.75
                            - 80.08
                          - - -94.08
                            - 80.18
                          - - -96.68
                            - 80.34
                          - - -93.79
                            - 80.53
                          - - -95.53
                            - 80.82
                          - - -93.09
                            - 81.16
                          - - -94.27
                            - 81.35
                          - - -92.73
                            - 81.31
                      - - - - -70.11
                            - 83.11
                          - - -66.3
                            - 82.93
                          - - -68.64
                            - 82.63
                          - - -64.73
                            - 82.9
                          - - -61.08
                            - 82.32
                          - - -64.36
                            - 81.73
                          - - -69.29
                            - 81.72
                          - - -66.61
                            - 81.51
                          - - -70.21
                            - 81.17
                          - - -64.44
                            - 81.48
                          - - -69.43
                            - 80.38
                          - - -70.83
                            - 80.56
                          - - -70.15
                            - 80.19
                          - - -72.42
                            - 80.21
                          - - -70.5
                            - 80.08
                          - - -71.46
                            - 79.9
                          - - -71.18
                            - 79.78
                          - - -78.05
                            - 79.35
                          - - -74.44
                            - 79.06
                          - - -78.89
                            - 79.06
                          - - -74.72
                            - 78.71
                          - - -76.69
                            - 78.51
                          - - -75.06
                            - 78.31
                          - - -76.91
                            - 78.2
                          - - -75.58
                            - 78.11
                          - - -75.92
                            - 77.96
                          - - -78.26
                            - 78
                          - - -77.72
                            - 77.61
                          - - -78.69
                            - 77.32
                          - - -81.93
                            - 77.68
                          - - -81.17
                            - 77.34
                          - - -82.17
                            - 77.29
                          - - -81.83
                            - 77.16
                          - - -77.78
                            - 76.79
                          - - -81.05
                            - 76.13
                          - - -80.77
                            - 76.42
                          - - -82.73
                            - 76.82
                          - - -82.13
                            - 76.44
                          - - -89.68
                            - 76.57
                          - - -86.74
                            - 77.17
                          - - -88.07
                            - 77.82
                          - - -84.48
                            - 77.29
                          - - -84.61
                            - 77.39
                          - - -83.46
                            - 77.35
                          - - -83.84
                            - 77.46
                          - - -82.32
                            - 78.07
                          - - -83.9
                            - 77.49
                          - - -84.78
                            - 77.52
                          - - -84.43
                            - 77.72
                          - - -84.95
                            - 77.6
                          - - -85.35
                            - 77.73
                          - - -85.05
                            - 77.83
                          - - -85.4
                            - 77.82
                          - - -84.33
                            - 77.9
                          - - -85.68
                            - 77.93
                          - - -84.13
                            - 78.17
                          - - -84.97
                            - 78.2
                          - - -84.64
                            - 78.59
                          - - -85.49
                            - 78.1
                          - - -87.54
                            - 78.14
                          - - -86.86
                            - 78.73
                          - - -82.34
                            - 78.57
                          - - -83.25
                            - 78.83
                          - - -81.48
                            - 79.05
                          - - -84.75
                            - 79.03
                          - - -83.36
                            - 79.05
                          - - -86.49
                            - 79.76
                          - - -85.26
                            - 79.92
                          - - -86.51
                            - 80.3
                          - - -79.9
                            - 79.65
                          - - -83.2
                            - 80.32
                          - - -78.04
                            - 80.57
                          - - -79.96
                            - 80.61
                          - - -76.48
                            - 80.87
                          - - -78.93
                            - 80.88
                          - - -76.75
                            - 81.44
                          - - -80.92
                            - 80.66
                          - - -85.07
                            - 80.51
                          - - -86.74
                            - 80.6
                          - - -82.36
                            - 81.18
                          - - -87.59
                            - 80.63
                          - - -89.47
                            - 80.91
                          - - -84.73
                            - 81.28
                          - - -89.82
                            - 81.01
                          - - -90.35
                            - 81.17
                          - - -87.24
                            - 81.49
                          - - -91.96
                            - 81.66
                          - - -88.08
                            - 82.1
                          - - -84.6
                            - 81.89
                          - - -86.88
                            - 82.2
                          - - -85.05
                            - 82.48
                          - - -79.23
                            - 81.82
                          - - -82.73
                            - 82.4
                          - - -80.58
                            - 82.55
                          - - -81.47
                            - 82.82
                          - - -78.5
                            - 82.68
                          - - -80.43
                            - 82.89
                          - - -79.79
                            - 82.96
                          - - -75.89
                            - 82.59
                          - - -76.23
                            - 82.44
                          - - -75.4
                            - 82.61
                          - - -77.38
                            - 82.99
                          - - -72.63
                            - 82.69
                          - - -73.65
                            - 82.93
                          - - -70.11
                            - 83.11
                      type: MultiPolygon
                    id: CA
                    properties:
                      name: Canada
                    type: Feature
                  type: FeatureCollection
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Geography
  /v1/countryflags:
    get:
      summary: Country Flags
      description: Country Flag is a simple tool for getting the country's national flags. It returns the country's national flags.
      operationId: countryflags
      parameters:
      - name: country
        in: query
        schema:
          type: string
        required: true
        description: The 2 letter ISO Country Code (e.g. ZW)
        example: ZW
      - name: format
        in: query
        schema:
          type: string
        required: true
        description: The format of the flag image
        example: png
      - name: shape
        in: query
        schema:
          type: string
        required: true
        description: The shape of the flag image
        example: circle
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  country: Zimbabwe
                  countryCode: ZW
                  shape: circle
                  format: png
                  downloadUrl: https://storage.googleapis.com/apiverve/APIResources/countryflags/circle/png/zw.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1766096512&Signature=EfbtYmSr82YpFvV%2FYWRrlA66wKW4j2%2F2n6EDLGnpwhxd9pXvzBQm4xhNVnwRy3tHCvDTWNQTQUaP9kndqcqm5NBlsfzgJlHpBLPLNt3xRBgXwAm5vmPMfoQY%2B%2BHwmYkxBH1H%2BnIkoWeXEsDLoh1MdwUfvTKKP9PDlCyc2FQUJyZoqXxdshHE9l%2Fv019N9z3AipL7jpmeJQnMTDtos8aCa2I9dm%2FzgpMvi2fdMiRfMCNsjlbyug0h0w6wO1W3FLc3K477psnT4BcXARBmn3dYq4hSSLdmhPnKMpCrYXFnhdxZq0VHXNHid1FwLYuMcp%2FPHIJ1%2Fj2OvqMUPEpip%2Fq%2FpA%3D%3D
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Geography
  /v1/countrylanguages:
    get:
      summary: Country Languages
      description: Country Languages is a simple tool for getting the list of official and commonly spoken languages in a specific country.
      operationId: countrylanguages
      parameters:
      - name: country
        in: query
        schema:
          type: string
        required: true
        description: The Country 2 letter ISO code for which you want to get languages for data (e.g., ZW)
        example: ZW
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  country: ZW
                  name: Zimbabwe
                  officialName: Republic of Zimbabwe
                  officialLanguages:
                  - Chibarwe
                  - English
                  - Kalanga
                  - Khoisan
                  - Ndau
                  - Northern Ndebele
                  - Chewa
                  - Shona
                  - Sotho
                  - Tonga
                  - Tswana
                  - Tsonga
                  - Venda
                  - Xhosa
                  - Zimbabwean Sign Language
                  officialLanguageCount: 15
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Geography
  /v1/countrylookup:
    get:
      summary: Country Lookup
      description: Lookup country data based on the country ISO Code
      operationId: countrylookup
      parameters:
      - name: country
        in: query
        schema:
          type: string
        required: true
        description: The Country name or ISO code of the country for which you want to get the data (e.g., USA)
        example: USA
      - name: majorcities
        in: query
        schema:
          type: boolean
        required: false
        description: Specify if you would like to return all major cities of the country found
        example: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  search: USA
                  countries:
                  - name:
                      common: United States
                      official: United States of America
                      native:
                        eng:
                          official: United States of America
                          common: United States
                    tld:
                    - .us
                    cca2: US
                    ccn3: '840'
                    cca3: USA
                    cioc: USA
                    independent: true
                    status: officially-assigned
                    unRegionalGroup: Western European and Others Group
                    capital:
                    - Washington D.C.
                    altSpellings:
                    - US
                    - USA
                    - United States of America
                    region: Americas
                    subregion: North America
                    languages:
                      eng: English
                    latlng:
                    - 38
                    - -97
                    landlocked: false
                    flag: 🇺🇸
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Geography
  /v1/countydata:
    get:
      summary: County Data Lookup
      description: Get data about a US county
      operationId: countydata
      parameters:
      - name: state
        in: query
        schema:
          type: string
        required: true
        description: The two letter name of the US state the county is in (e.g., MO)
        example: MO
      - name: county
        in: query
        schema:
          type: string
        required: true
        description: The name of the US county to get data about (e.g. Jackson)
        example: Jackson
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  name: jackson county
                  state: MO
                  age:
                    0-4: 0.0644100874666257
                    5-9: 0.06532756955438819
                    10-14: 0.06595060390235714
                    15-19: 0.05967616438434107
                    20-24: 0.059725950234064615
                    25-29: 0.08192474939936928
                    30-34: 0.07523353119652466
                    35-39: 0.06868029092005673
                    40-44: 0.05831060964906666
                    45-49: 0.058805623240603636
                    50-54: 0.05858087569042305
                    55-59: 0.0674783182624454
                    60-64: 0.06208437705811146
                    65-69: 0.05099777955110233
                    70-74: 0.03891546504962227
                    75-79: 0.026437708656052324
                    80-84: 0.01748905778145719
                    85+: 0.01997123800338828
                  male: 339932
                  female: 363079
                  health:
                    poorhealth: 20.588989742
                    physicallyunhealthydays: 4.247736361
                    mentallyunhealthydays: 4.8111015035
                    lowbirthweightpercent: 9.1518749808
                    smokerspercent: 20.957241772
                    obesitypercent: 31.5
                    foodenvindex: 7.5
                    physicallyinactivepercent: 23.2
                    excessivedrinkingpercent: 18.940103365
                    alcoholimpaireddrivingdeaths: 152
                    teenbirthrate: 31.109351559
                    uninsured: 12.486314662
                    withannualmammogram: 45
                    vaccinated: 51
                    childreninpoverty: 19.6
                    80thpercentileincome: 108296
                    20thpercentileincome: 23275
                    childreninsingleparenthouseholds: 33.224850811
                    violentcrimerate: 941.43198334
                    averagedailypm25: 9.1
                    severehousingproblems: 15.347550638
                    drivealonetowork: 83.470246386
                    longcommutedrivesalone: 33.7
                  longitude: -94.34749665503394
                  latitude: 39.016701918102484
                  education:
                    lessthanhighschool: 9.4
                    highschool: 28.3
                    somecollege: 30.7
                    bachelors: 31.6
                  zipcodes:
                  - '64137'
                  - '64111'
                  - '64053'
                  - '64055'
                  - '64064'
                  - '64029'
                  - '64106'
                  - '64108'
                  - '64034'
                  - '64118'
                  - '64136'
                  - '64139'
                  - '64125'
                  - '64030'
                  - '64014'
                  - '64066'
                  - '64080'
                  - '64123'
                  - '64131'
                  - '64145'
                  - '64128'
                  - '64121'
                  - '64170'
                  - '64050'
                  - '64057'
                  - '64133'
                  - '64109'
                  - '64130'
                  - '64134'
                  - '64129'
                  - '64158'
                  - '64163'
                  - '64070'
                  - '64102'
                  - '64105'
                  - '64086'
                  - '64101'
                  - '64124'
                  - '64157'
                  - '64088'
                  - '64061'
                  - '64051'
                  - '64002'
                  - '64081'
                  - '64013'
                  - '64016'
                  - '64112'
                  - '64114'
                  - '64110'
                  - '64152'
                  - '64127'
                  - '64147'
                  - '64120'
                  - '64146'
                  - '64199'
                  - '64058'
                  - '64054'
                  - '64074'
                  - '64119'
                  - '64138'
                  - '64149'
                  - '64156'
                  - '64132'
                  - '64171'
                  - '64148'
                  - '64141'
                  - '64999'
                  - '64052'
                  - '64015'
                  - '64063'
                  - '64075'
                  - '64056'
                  - '64082'
                  - '64113'
                  - '64155'
                  - '64126'
                  - '64197'
                  - '64065'
                  - '64198'
                  lifeexpectancy: 77.19
                  avgincome: 47054
                  povertyrate: 13.7
                  costofliving:
                    livingwage: 14.55
                    foodcosts: 3246
                    medicalcosts: 2681
                    housingcosts: 8136
                    taxcosts: 6263
                  landareakm2: 1565.601892
                  areakm2: 1596.319707
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Geography
  /v1/distancecalculator:
    get:
      summary: Distance Calculator
      description: Calculate the distance between two coordinates
      operationId: distancecalculator
      parameters:
      - name: lat1
        in: query
        schema:
          type: number
        required: true
        description: The latitude of the first location
        example: 36.7783
      - name: lon1
        in: query
        schema:
          type: number
        required: true
        description: The longitude of the first location
        example: -119.4179
      - name: lat2
        in: query
        schema:
          type: number
        required: true
        description: The latitude of the second location
        example: 34.0522
      - name: lon2
        in: query
        schema:
          type: number
        required: true
        description: The longitude of the second location
        example: -118.2437
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  distanceMiles: 199.6804337234997
                  distanceKm: 321.2535462758628
                  location1:
                    latitude: '36.728450'
                    longitude: '-119.53571'
                    city: Sanger
                    state: California
                  location2:
                    latitude: '34.044662'
                    longitude: '-118.24255'
                    city: Los Angeles
                    state: California
                  bearing: 198
                  direction: South
                  estimatedDriveTime: 5h 11m
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Geography
  /v1/hardinesszone:
    get:
      summary: USDA Hardiness Zone
      description: Hardiness Zone is a simple tool for getting the USDA Plant Hardiness Zone for a given zip code
      operationId: hardinesszone
      parameters:
      - name: zip
        in: query
        schema:
          type: string
        required: true
        description: The zip code to get the USDA Plant Hardiness Zone for
        example: '97201'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  zipCode: '97201'
                  zone: 8b
                  tempRange: 15 to 20
                  zoneTitle: '8b: 15 to 20'
                  details:
                    tempRange: 15°F to 20°F (-9°C to -7°C)
                    description: Mild and relatively warm, found in parts of southern U.S. like the Gulf Coast and parts of Texas.
                    plantSurvival: A wide range of plants, including many Mediterranean and subtropical varieties.
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Geography
  /v1/reversegeocode:
    get:
      summary: Reverse Geocode
      description: Get the location of a set of coordinates, Only supports USA and Canada Coordinates
      operationId: reversegeocode
      parameters:
      - name: lat
        in: query
        schema:
          type: number
        required: true
        description: The latitude of the coordinates
        example: 40.714224
      - name: lon
        in: query
        schema:
          type: number
        required: true
        description: The longitude of the coordinates
        example: -73.961452
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  zipcode: '11211'
                  state_abbr: NY
                  city: Brooklyn
                  state: New York
                  distance: 0.6501757300758664
                  latitudeClosest: '40.712090'
                  longitudeClosest: '-73.95427'
                  countryCode: US
                  latitude: 40.714224
                  longitude: -73.961452
                  estimatedCity: true
                  nearestCities:
                  - Brooklyn
                  - Brooklyn Park
                  - East Brooklyn
                  - Brooklyn Center
                  - Brooklyn Heights
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Geography
  /v1/stateboundaries:
    get:
      summary: State Boundaries
      description: State Boundaries is a simple tool for getting the boundaries of a specific state's border. It returns the shape of the specified state's border.
      operationId: stateboundaries
      parameters:
      - name: state
        in: query
        schema:
          type: string
        required: true
        description: The 2 Letter State Code (e.g., CA)
        example: CA
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  type: FeatureCollection
                  features:
                  - type: Feature
                    geometry:
                      coordinates:
                      - - - - -124.136560999568
                            - 41.4644520001748
                          - - -124.144127999686
                            - 41.4868809999681
                          - - -124.151304999817
                            - 41.4998419999228
                          - - -124.151821000201
                            - 41.5082140000472
                          - - -124.157942999997
                            - 41.5189619997364
                          - - -124.160111000392
                            - 41.5293859999524
                          - - -124.160492999984
                            - 41.5434089997226
                          - - -124.172273999795
                            - 41.5509789998463
                          - - -124.179960999564
                            - 41.5583250000071
                          - - -124.18499000029
                            - 41.5657689998144
                          - - -124.188336000144
                            - 41.5739960002055
                          - - -124.187126999824
                            - 41.5889699998552
                          - - -124.189188000089
                            - 41.5917800002224
                          - - -124.190532999953
                            - 41.5987400001524
                          - - -124.190112999828
                            - 41.6081900002046
                          - - -124.201339999621
                            - 41.6194039997555
                          - - -124.209784999623
                            - 41.6352049998289
                          - - -124.21141900009
                            - 41.6416880001727
                          - - -124.210489000328
                            - 41.6494630000949
                          - - -124.211783999963
                            - 41.661907000247
                          - - -124.208546000064
                            - 41.6738159996739
                          - - -124.211706000145
                            - 41.6811929999274
                          - - -124.222604999875
                            - 41.6852669998502
                          - - -124.236856000204
                            - 41.6946400002946
                          - - -124.249473000067
[...]
