openapi: 3.0.4
info:
  title: APIVerve API
  description: >-
    One API key, 370+ real-world REST endpoints — weather, geocoding, finance,
    DNS, validation, text processing and more. Every endpoint returns JSON. Full
    documentation at https://docs.apiverve.com.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  license:
    name: APIVerve Terms of Service
    url: https://apiverve.com/terms/
  version: 1.0.0
  x-logo:
    url: https://apiverve.com/images/favicon.png
    altText: APIVerve
externalDocs:
  description: APIVerve Documentation
  url: https://docs.apiverve.com
servers:
  - url: https://api.apiverve.com
tags:
  - name: AI/Computer Vision
  - name: Astrology
  - name: Calendar
  - name: Data Conversion
  - name: Data Generation
  - name: Data Lookup
  - name: Data Processing
  - name: Data Scraping
  - name: Data Validation
  - name: Documents
  - name: Domain Data
  - name: Entertainment
  - name: Finance
  - name: Food
  - name: Games
  - name: Geography
  - name: Health/Wellness
  - name: Images
  - name: Lifestyle
  - name: Math/Calculations
  - name: Networking
  - name: News
  - name: Parsers
  - name: Reference Data
  - name: Science
  - name: Security
  - name: Text Processing
  - name: Transportation
  - name: Weather
security:
  - api_key: []
paths:
  /v1/acronymexpander:
    get:
      summary: Acronym Expander
      description: Expand an acronym to its full meaning with AI assistance
      operationId: acronymexpander
      parameters:
        - name: acronym
          in: query
          schema:
            type: string
          required: true
          description: The acronym to expand (max 20 characters)
          example: API
        - name: context
          in: query
          schema:
            type: string
          required: false
          description: Optional context to help determine the correct meaning
          example: software
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  acronym: API
                  expansions:
                    - expansion: Application Programming Interface
                      description: A set of protocols for building software
                      category: technology
                  most_common:
                    expansion: Application Programming Interface
                    description: A set of protocols for building software
                    category: technology
                  source: dictionary
                  context_provided: software
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Text Processing
  /v1/acronymgenerator:
    get:
      summary: Acronym Generator
      description: >-
        Generate an acronym from a phrase by extracting the first letter of each
        word
      operationId: acronymgenerator
      parameters:
        - name: text
          in: query
          schema:
            type: string
          required: true
          description: >-
            The phrase to generate an acronym from (must contain at least 2
            words)
          example: Application Programming Interface
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  text: Application Programming Interface
                  acronyms:
                    - API
                    - APP IN
                    - Accessing Program's Interface
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Data Generation
  /v1/acrostic:
    get:
      summary: Acrostic Puzzle Generator
      description: Create an acrostic puzzle
      operationId: acrostic
      parameters:
        - name: word
          in: query
          schema:
            type: string
          required: true
          description: The keyword to spell out (3-15 letters)
          example: HAPPY
        - name: theme
          in: query
          schema:
            type: string
          required: false
          description: 'Theme: random, positive, nature, adventure, friendship, learning'
          example: positive
        - name: image
          in: query
          schema:
            type: boolean
          required: false
          description: Set to true to generate a downloadable puzzle image
          example: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  keyword: HAPPY
                  theme: positive
                  lines:
                    - position: 1
                      letter: H
                      answer: HAPPY
                      letterCount: 5
                      clue: >-
                        1. Favored by hap, luck, or fortune; lucky; fortunate;
                        successful; prosperous; s...
                    - position: 2
                      letter: A
                      answer: AMAZING
                      letterCount: 7
                      clue: >-
                        Causing amazement; very wonderful; as, amazing grace. --
                        A*maz"ing*ly, adv.
                    - position: 3
                      letter: P
                      answer: PEACEFUL
                      letterCount: 8
                      clue: >-
                        1. Possessing or enjoying peace; not disturbed by war,
                        tumult, agitation, anxiet...
                    - position: 4
                      letter: P
                      answer: PEACEFUL
                      letterCount: 8
                      clue: >-
                        1. Possessing or enjoying peace; not disturbed by war,
                        tumult, agitation, anxiet...
                    - position: 5
                      letter: 'Y'
                      answer: YOUTHFUL
                      letterCount: 8
                      clue: >-
                        1. Not yet mature or aged; young. "Two youthful
                        knights." Dryden.  Also used fig...
                  lineCount: 5
                  html: >-
                    <html><head><title>Acrostic Puzzle</title><style>body
                    {font-family: Arial, sans-serif; padding: 20px; max-width:
                    700px; margin: 0 auto;}h1 {text-align: center; color:
                    #FF5722;}.intro {text-align: center; color: #666;
                    margin-bottom: 30px;}.puzzle {margin: 20px 0;}.line
                    {display: flex; align-items: center; margin: 10px 0;
                    padding: 10px; background: #f5f5f5; border-radius:
                    5px;}.number {width: 30px; font-weight: bold; color:
                    #FF5722;}.first-letter {width: 40px; height: 40px;
                    background: #FF5722; color: white; display: flex;
                    align-items: center; justify-content: center; font-size:
                    24px; font-weight: bold; border-radius: 5px; margin-right:
                    10px;}.blanks {display: flex; gap: 3px; margin-right:
                    15px;}.blank {width: 25px; height: 30px; border-bottom: 2px
                    solid #333;}.clue {flex: 1; font-size: 14px; color: #666;
                    font-style: italic;}.keyword {text-align: center;
                    margin-top: 30px; padding: 20px; background: #FFF3E0;
                    border-radius: 10px;}.keyword-letters {display: flex;
                    justify-content: center; gap: 10px;}.keyword-letter {width:
                    40px; height: 40px; background: #FF5722; color: white;
                    display: flex; align-items: center; justify-content: center;
                    font-size: 24px; font-weight: bold; border-radius:
                    5px;}</style></head><body><h1>Acrostic Puzzle</h1><div
                    class='intro'>Solve the clues. The first letters spell a
                    word!</div><div class='puzzle'><div class='line'><span
                    class='number'>1.</span><span
                    class='first-letter'>H</span><span class='blanks'><span
                    class='blank'></span><span class='blank'></span><span
                    class='blank'></span><span class='blank'></span></span><span
                    class='clue'>1. Favored by hap, luck, or fortune; lucky;
                    fortunate; successful; prosperous; s...</span></div><div
                    class='line'><span class='number'>2.</span><span
                    class='first-letter'>A</span><span class='blanks'><span
                    class='blank'></span><span class='blank'></span><span
                    class='blank'></span><span class='blank'></span><span
                    class='blank'></span><span class='blank'></span></span><span
                    class='clue'>Causing amazement; very wonderful; as, amazing
                    grace. -- A*maz'ing*ly, adv.</span></div><div
                    class='line'><span class='number'>3.</span><span
                    class='first-letter'>P</span><span class='blanks'><span
                    class='blank'></span><span class='blank'></span><span
                    class='blank'></span><span class='blank'></span><span
                    class='blank'></span><span class='blank'></span><span
                    class='blank'></span></span><span class='clue'>1. Possessing
                    or enjoying peace; not disturbed by war, tumult, agitation,
                    anxiet...</span></div><div class='line'><span
                    class='number'>4.</span><span
                    class='first-letter'>P</span><span class='blanks'><span
                    class='blank'></span><span class='blank'></span><span
                    class='blank'></span><span class='blank'></span><span
                    class='blank'></span><span class='blank'></span><span
                    class='blank'></span></span><span class='clue'>1. Possessing
                    or enjoying peace; not disturbed by war, tumult, agitation,
                    anxiet...</span></div><div class='line'><span
                    class='number'>5.</span><span
                    class='first-letter'>Y</span><span class='blanks'><span
                    class='blank'></span><span class='blank'></span><span
                    class='blank'></span><span class='blank'></span><span
                    class='blank'></span><span class='blank'></span><span
                    class='blank'></span></span><span class='clue'>1. Not yet
                    mature or aged; young. 'Two youthful knights.' Dryden.  Also
                    used fig...</span></div></div><div class='keyword'><p>Hidden
                    word:</p><div class='keyword-letters'><div
                    class='keyword-letter'>?</div><div
                    class='keyword-letter'>?</div><div
                    class='keyword-letter'>?</div><div
                    class='keyword-letter'>?</div><div
                    class='keyword-letter'>?</div></div></div></body></html>
                  image:
                    imageName: 8b67d4ec-c262-4f7b-9cf1-b8c2766e8c54_acrostic.png
                    format: .png
                    downloadURL: https://storage.googleapis.com/apiverve/APIData/acrostic/8b67d4ec-c262-4f7b-9cf1-b8c2766e8c54_acrostic.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1766009969&Signature=IBbnpk61J5uW7bsfoqRwceF7weeBO%2Bq63BKH7LZpXLhZJk1vYISzRXy%2BPeZnH0t4h%2FvK%2BIJCv84THbV5ym9KkdLUXJK3wYkh8XoyZz%2FyFsBNJ6YCtFLkb0F3AULXyOGEcJ3F3mz4f2oS9P6Wtx4bX8NKVs3B316pY0aJzKo%2Fm5Lnv81i9y%2BRA7EMc9f7M8N9Nin08T%2F4K3W3LxO%2FJUcwocs7UTAORbhCSTqbSn2eIhJLKAN%2B4gSvDghzigwHT9THBVAD1VHgmkfxPNKMqFcarnah7Lfh78RcZM5Zfubl50YgBLVwwwQ%2Bp0Sxbjgeb0osdEkHwAfXbKP2bmA9%2B3TrLA%3D%3D
                    expires: 1766009969599
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Games
  /v1/advice:
    get:
      summary: Advice Generator
      description: >-
        Advice Generator is a simple tool for generating random pieces of
        advice. It returns a random piece of advice.
      operationId: advice
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  id: 3xx4VZSZ
                  advice: Be creative and innovative.
                  lang: en
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Entertainment
  /v1/agecalculator:
    get:
      summary: Age Calculator
      description: Calculate age based on the date of birth provided
      operationId: agecalculator
      parameters:
        - name: dob
          in: query
          schema:
            type: string
          required: true
          description: 'The date of birth to calculate the age from (format: YYYY-MM-DD)'
          example: '1990-08-02'
        - name: timezone
          in: query
          schema:
            type: string
          required: false
          description: >-
            IANA timezone used to interpret the date of birth and to determine
            "today" when computing the age
          example: America/Chicago
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  dob: '1990-01-01'
                  age_breakdown:
                    years: 35
                    months: 431
                    weeks: 1876
                    days: 13133
                    hours: 315208
                    minutes: 18912499
                    seconds: 1134749976
                  age_words:
                    years: thirty-five
                    ordinal: thirty-fifth
                    full: thirty-five years old
                    locale: en-US
                  timezone: America/Chicago
                  locale: en-US
                  next_birthday:
                    months: 0
                    weeks: 2
                    days: 15
                    hours: 367
                    minutes: 22060
                    seconds: 1323623
                  insights:
                    generation: Millennial
                    zodiacSign: Capricorn
                    chineseZodiac: Horse
                    birthstone: Garnet
                    dayOfWeekBorn: Monday
                    isLeapYearBirth: false
                    milestones:
                      canVoteUS: true
                      canDrinkUS: true
                      canRentCarUS: true
                      seniorDiscount: false
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Calendar
  /v1/airlinelookup:
    get:
      summary: Airline Lookup
      description: Get the airline information for a specific airline IATA code
      operationId: airlinelookup
      parameters:
        - name: iata
          in: query
          schema:
            type: string
          required: true
          description: >-
            The IATA code of the airline for which you want to get the
            information (e.g., AA)
          example: AA
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  - name: American Airlines
                    alias: null
                    iata: AA
                    icao: AAL
                    callsign: AMERICAN
                    country: United States
                    id: AA
                    islowcost: false
                    logourl: https://storage.googleapis.com/apiverve/APIResources/arlinelookup/logos/AA.png?X-Goog-Algorithm=...
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Transportation
  /v1/airportcodeconverter:
    get:
      summary: Airport Code Converter
      description: >-
        Submit an IATA (3-letter) or ICAO (4-letter) airport code and get the
        corresponding code in the other format.
      operationId: airportcodeconverter
      parameters:
        - name: code
          in: query
          schema:
            type: string
          required: true
          description: 'The airport code to convert (IATA: 3 letters, ICAO: 4 letters)'
          example: MCI
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  input: MCI
                  inputType: IATA
                  iata: MCI
                  icao: KMCI
                  name: Kansas City International Airport
                  city: Kansas City
                  state: Missouri
                  country: US
                  elevation: 1026
                  latitude: 39.2976
                  longitude: -94.7139
                  timezone: America/Chicago
                  found: true
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Transportation
  /v1/airportdistance:
    get:
      summary: Airport Distance
      description: >-
        Airport Distance is a simple tool for getting the distance between two
        airports. It returns the distance between the two airports.
      operationId: airportdistance
      parameters:
        - name: iata1
          in: query
          schema:
            type: string
          required: true
          description: The IATA code of the first airport (e.g. JFK)
          example: JFK
        - name: iata2
          in: query
          schema:
            type: string
          required: true
          description: The IATA code of the second airport (e.g. LAX)
          example: LAX
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  distanceMiles: 2470.23
                  distanceKm: 3974.2
                  distanceNauticalMiles: 2145.12
                  estimatedFlightTime: 5h 24m
                  timezoneDiffHours: -3
                  bearing: 265
                  direction: West
                  isInternational: false
                  carbonEstimateKg: 543
                  airport1:
                    name: John F Kennedy International Airport
                    iata: JFK
                    icao: KJFK
                    city: New York
                    state: New-York
                    country: US
                    elevation: 13
                    latitude: 40.63980103
                    longitude: -73.77890015
                    timezone: America/New_York
                  airport2:
                    name: Los Angeles International Airport
                    iata: LAX
                    icao: KLAX
                    city: Los Angeles
                    state: California
                    country: US
                    elevation: 125
                    latitude: 33.94250107
                    longitude: -118.4079971
                    timezone: America/Los_Angeles
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Transportation
  /v1/airports:
    get:
      summary: Airports Lookup
      description: Get the airport information for a specific airport IATA code
      operationId: airports
      parameters:
        - name: iata
          in: query
          schema:
            type: string
          required: true
          description: >-
            The IATA code of the airport for which you want to get the
            information (e.g., MCI)
          example: MCI
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  icao: KMCI
                  iata: MCI
                  name: Kansas City International Airport
                  city: Kansas City
                  state: Missouri
                  country: US
                  elevation: 1026
                  lat: 39.2975997925
                  lon: -94.7138977051
                  tz: America/Chicago
                  city_info:
                    name: Kansas City
                    altName: ''
                    country: US
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Transportation
  /v1/airquality:
    get:
      summary: Air Quality
      description: Get the air quality data for a city
      operationId: airquality
      parameters:
        - name: city
          in: query
          schema:
            type: string
          required: true
          description: >-
            The city name for which you want to get the air quality data (e.g.,
            New York)
          example: San Francisco
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  pm2_5: 16.75
                  pm10: 18.85
                  carbonMonoxide: 387.85
                  ozone: 9
                  nitrogenDioxide: 38.55
                  sulfurdioxide: 5.95
                  usEpaIndex: 2
                  gbDefraIndex: 2
                  recommendation: >-
                    The air quality in San Francisco is good. It is safe to go
                    outside.
                  city: San Francisco
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Weather
  /v1/anagramdetector:
    get:
      summary: Anagram Detector
      description: Check if two texts are anagrams with detailed analysis
      operationId: anagramdetector
      parameters:
        - name: text1
          in: query
          schema:
            type: string
          required: true
          description: The first text to compare
          example: listen
        - name: text2
          in: query
          schema:
            type: string
          required: true
          description: The second text to compare
          example: silent
        - name: ignorecase
          in: query
          schema:
            type: boolean
          required: false
          description: 'Ignore case when comparing (default: true)'
          example: true
        - name: ignorespaces
          in: query
          schema:
            type: boolean
          required: false
          description: 'Ignore spaces when comparing (default: true)'
          example: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  text1: listen
                  text2: silent
                  is_anagram: true
                  cleaned_text1: listen
                  cleaned_text2: silent
                  sorted_text1: eilnst
                  sorted_text2: eilnst
                  length_text1: 6
                  length_text2: 6
                  similarity_percentage: 100
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Text Processing
  /v1/anagrampuzzle:
    get:
      summary: Anagram Puzzle Generator
      description: Create anagram puzzles
      operationId: anagrampuzzle
      parameters:
        - name: word
          in: query
          schema:
            type: string
          required: false
          description: Specific word to create anagram for
          example: listen
        - name: count
          in: query
          schema:
            type: integer
          required: false
          description: Number of puzzles
          example: 1
        - name: difficulty
          in: query
          schema:
            type: string
          required: false
          description: Difficulty level
          example: medium
        - name: image
          in: query
          schema:
            type: boolean
          required: false
          description: Set to true to generate a downloadable puzzle image
          example: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  puzzles:
                    - original: DESPAIR
                      scrambled: PDAISRE
                      anagrams:
                        - ASPIRED
                        - DIAPERS
                      letterCount: 7
                    - original: GREATS
                      scrambled: RSGETA
                      anagrams:
                        - GASTER
                        - GATERS
                        - GRATES
                      letterCount: 6
                    - original: GROANS
                      scrambled: SOGNRA
                      anagrams:
                        - ARGONS
                      letterCount: 6
                    - original: BARGEES
                      scrambled: ABEREGS
                      anagrams:
                        - BAREGES
                      letterCount: 7
                    - original: CANINES
                      scrambled: NISNCEA
                      anagrams:
                        - ENCINAS
                      letterCount: 7
                  count: 5
                  difficulty: medium
                  html: >-
                    <html><head><title>Anagram Puzzle</title><style>body
                    {font-family: Arial, sans-serif; padding: 20px; max-width:
                    700px; margin: 0 auto;}h1 {text-align: center;}.puzzle
                    {background: #f5f5f5; padding: 25px; margin: 20px 0;
                    border-radius: 10px;}.scrambled {font-size: 32px;
                    font-weight: bold; letter-spacing: 8px; color: #9C27B0;
                    text-align: center; margin: 15px 0;}.letters {display: flex;
                    justify-content: center; gap: 5px; margin: 15px 0;}.letter
                    {width: 40px; height: 40px; background: #fff; border: 2px
                    solid #9C27B0; border-radius: 5px; display: flex;
                    align-items: center; justify-content: center; font-size:
                    20px; font-weight: bold;}.hint {font-size: 14px; color:
                    #666; font-style: italic; margin-top: 15px;}.info
                    {font-size: 12px; color: #999; margin-top:
                    10px;}.answer-area {margin-top: 15px; padding: 10px; border:
                    2px dashed #ccc; border-radius: 5px; min-height:
                    30px;}</style></head><body><h1>Anagram Puzzle</h1><p
                    style='text-align:center;'>Rearrange the letters to form a
                    word</p><div class='puzzle'><div class='info'>#1 - 7
                    letters</div><div class='letters'><div
                    class='letter'>P</div><div class='letter'>D</div><div
                    class='letter'>A</div><div class='letter'>I</div><div
                    class='letter'>S</div><div class='letter'>R</div><div
                    class='letter'>E</div></div><div
                    class='answer-area'></div><div class='info'>Bonus: This word
                    has 2 anagram(s)!</div></div><div class='puzzle'><div
                    class='info'>#2 - 6 letters</div><div class='letters'><div
                    class='letter'>R</div><div class='letter'>S</div><div
                    class='letter'>G</div><div class='letter'>E</div><div
                    class='letter'>T</div><div class='letter'>A</div></div><div
                    class='answer-area'></div><div class='info'>Bonus: This word
                    has 3 anagram(s)!</div></div><div class='puzzle'><div
                    class='info'>#3 - 6 letters</div><div class='letters'><div
                    class='letter'>S</div><div class='letter'>O</div><div
                    class='letter'>G</div><div class='letter'>N</div><div
                    class='letter'>R</div><div class='letter'>A</div></div><div
                    class='answer-area'></div><div class='info'>Bonus: This word
                    has 1 anagram(s)!</div></div><div class='puzzle'><div
                    class='info'>#4 - 7 letters</div><div class='letters'><div
                    class='letter'>A</div><div class='letter'>B</div><div
                    class='letter'>E</div><div class='letter'>R</div><div
                    class='letter'>E</div><div class='letter'>G</div><div
                    class='letter'>S</div></div><div
                    class='answer-area'></div><div class='info'>Bonus: This word
                    has 1 anagram(s)!</div></div><div class='puzzle'><div
                    class='info'>#5 - 7 letters</div><div class='letters'><div
                    class='letter'>N</div><div class='letter'>I</div><div
                    class='letter'>S</div><div class='letter'>N</div><div
                    class='letter'>C</div><div class='letter'>E</div><div
                    class='letter'>A</div></div><div
                    class='answer-area'></div><div class='info'>Bonus: This word
                    has 1 anagram(s)!</div></div></body></html>
                  image:
                    imageName: d52a76c7-fe99-498f-b616-ab376cc920a5_anagram.png
                    format: .png
                    downloadURL: https://storage.googleapis.com/apiverve/APIData/anagrampuzzle/d52a76c7-fe99-498f-b616-ab376cc920a5_anagram.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1766009991&Signature=cHugsZLx%2BpnY0TrRpTdO%2Bfh48%2Bw8E1zzZt3SNLI2dNgM%2BZj%2FiC%2FZZjvoyahZdBlBkz6pHxuLRX55%2FLszTxTxyhNLJzUcjDOCjoATtWKevbzyLmwaEyFXLDjdzikxUWjVt9g8MyiPEKSFK6%2BpgY6WCvvSeI%2Fox%2B6lQawatWFMB7k0OKSTr9FO%2Fhqqu5M4%2B37bW0zvBuNtcORufXKayE7Z2KcW%2F2wkk9YwGXrVIvn2xLcOYjdY49GAQ2HW0qxRHLDtYYMY6T32jKz1KC6KBLZzrji7v3N%2FVkxfbECzXNgZB5WcCisCoHrUyj7BO14lLr7ZC4XttlYe70ak4QTqa3qNCw%3D%3D
                    expires: 1766009991438
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Games
  /v1/antonym:
    get:
      summary: Antonym Finder
      description: >-
        Antonym is a simple tool for getting the antonyms of a word. It returns
        a list of antonyms for the given word.
      operationId: antonym
      parameters:
        - name: word
          in: query
          schema:
            type: string
          required: true
          description: The word to get the antonyms for
          example: happy
        - name: language
          in: query
          schema:
            type: string
          required: false
          description: Language to return the antonyms in. Defaults to English
          example: Spanish
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  partOfSpeech: adjective
                  word: happy
                  language: en
                  antonyms:
                    - sad
                    - unhappy
                    - miserable
                    - depressed
                    - glum
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Text Processing
  /v1/articleideas:
    get:
      summary: Article Ideas Generator
      description: Generate article ideas based on a topic using Artificial Intelligence
      operationId: articleideas
      parameters:
        - name: topic
          in: query
          schema:
            type: string
          required: true
          description: >-
            The topic for which you want to generate article ideas (up to 50
            characters)
          example: software and technology
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  topic: software and technology
                  topicIdeas: 3
                  topics:
                    - >-
                      The Future of AI: How Artificial Intelligence Will
                      Transform Software and Technology
                    - >-
                      Cybersecurity in the Modern Age: Protecting Your Data in a
                      Connected World
                    - >-
                      Cloud Computing Explained: A Beginner's Guide to
                      Understanding the Cloud
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - AI/Computer Vision
  /v1/ascii85encoder:
    get:
      summary: ASCII85 Encoder
      description: Encode text using ASCII85 (Base85) encoding
      operationId: ascii85encoder
      parameters:
        - name: text
          in: query
          schema:
            type: string
          required: true
          description: Text to encode
          example: Hello World
        - name: action
          in: query
          schema:
            type: string
          required: false
          description: Action to perform
          example: encode
        - name: format
          in: query
          schema:
            type: string
          required: false
          description: Output format
          example: standard
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  original_text: Hello World
                  encoded: 87cURD]i,"Ebo7
                  format: standard
                  original_length: 11
                  encoded_length: 14
                  compression_ratio: 127.27%
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Data Conversion
  /v1/asnlookup:
    get:
      summary: ASN Lookup
      description: >-
        ASN Lookup is a simple tool for getting information on Autonomous System
        Numbers (ASNs). It returns information on various ASNs.
      operationId: asnlookup
      parameters:
        - name: asn
          in: query
          schema:
            type: string
          required: true
          description: The ASN you want to get information about
          example: AS15169
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  asn: AS15169
                  simple: '15169'
                  handle: GOOGLE
                  description: Google LLC
                  country: US
                  ipv4RangeCount: 152
                  ipv6RangeCount: 33
                  ipv4AddressCount: 1314816
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Data Lookup
  /v1/babynamegenerator:
    get:
      summary: Baby Name Generator
      description: Generate a baby's first and middle name, based on the provided gender
      operationId: babynamegenerator
      parameters:
        - name: gender
          in: query
          schema:
            type: string
          required: true
          description: The gender for the generated names
          example: male
        - name: count
          in: query
          schema:
            type: integer
          required: false
          description: The number of names to generate
          example: 1
        - name: includeAvatar
          in: query
          schema:
            type: boolean
          required: false
          description: Include an AI-generated child face avatar matching gender
          example: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  count: 1
                  names:
                    - firstName: Myra
                      middleName: Sherri
                      fullName: Myra Sherri
                      avatar: https://storage.googleapis.com/apiverve/APIResources/faces/Female/Child/11223344.jpg?X-Goog-Signature=...
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Data Generation
  /v1/balancesheet:
    get:
      summary: Balance Sheet
      description: >-
        Get the balance sheet for a company by ticker symbol. Optionally filter
        to a specific fiscal year and quarter.
      operationId: balancesheet
      parameters:
        - name: ticker
          in: query
          schema:
            type: string
          required: true
          description: Stock ticker symbol (e.g. AAPL, MSFT, ADBE)
          example: AAPL
        - name: year
          in: query
          schema:
            type: integer
          required: false
          description: >-
            Fiscal year to retrieve. Defaults to latest available. History
            covers only the quarters captured so far; a missing period answers
            404 listing the available ones.
        - name: quarter
          in: query
          schema:
            type: integer
          required: false
          description: Fiscal quarter to retrieve. Defaults to latest available.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  ticker: AAPL
                  company: Apple Inc.
                  cik: '0000320193'
                  fiscalYear: 2025
                  fiscalQuarter: 4
                  filingType: 10-K
                  filingDate: '2025-10-31'
                  periodEnd: '2025-09-27'
                  balance:
                    totalAssets: 359241000000
                    currentAssets: 147957000000
                    cash: 35934000000
                    receivables: 39777000000
                    inventory: 5718000000
                    propertyAndEquipment: 49834000000
                    goodwill: null
                    intangibles: null
                    totalLiabilities: 285508000000
                    currentLiabilities: 165631000000
                    accountsPayable: 69860000000
                    longTermDebt: 78328000000
                    equity: 73733000000
                    retainedEarnings: -14264000000
                  ratios:
                    currentRatio: 0.89
                    quickRatio: 0.86
                    cashRatio: 0.22
                    workingCapital: -17674000000
                    debtToEquity: 3.87
                    debtToAssets: 0.79
                    longTermDebtToEquity: 1.06
                    equityMultiplier: 4.87
                  formatted:
                    totalAssets: $359.24B
                    totalLiabilities: $285.51B
                    equity: $73.73B
                    workingCapital: -$17.67B
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Finance
  /v1/barcodegenerator:
    post:
      summary: Barcode Generator
      description: >-
        Barcode Generator is a simple tool for generating barcodes from data. It
        returns a URL to the generated image of the barcode.
      operationId: barcodegenerator
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  imageName: cc85680f-a1d0-4627-89ff-7d7e53663a2b.png
                  format: .png
                  type: CODE128
                  expires: 1766010012598
                  downloadURL: https://storage.googleapis.com/apiverve/APIData/barcodegenerator/cc85680f-a1d0-4627-89ff-7d7e53663a2b.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1766010012&Signature=cV6ANXGGaVDdl5SOFZt3xm2haHBnOklW1zXQICvJlGNlF4kwYVP9i%2F1RAN8NBGxSUiMk4Zcro%2FJUb3W%2Fwy8jA86pyEXTwIjNAiGW94ikpKSXs6%2FiV42Rwv6u2gX%2B2FH7XYyixlwJ%2B%2FHpfGcvka6u01FDk%2F2TUcR7%2FxsZ%2FmXPU2KTrzsI6XttCGBcHhex3LdTv%2F8tzMJbSshbZn%2BGcRTddwv6dC4lCcTtGE6Bl2zqY9s92KIr9X%2F4xj34q4XKBzywgXES57QaVhZeGPPOOUfLtI3pAN8fVSyM%2B9NBMU7R46xyqJ0J8PSVpQZhhAHn03T%2B40rcNp26GXqauM9K%2BLwZRw%3D%3D
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
                  description: The data you want to generate a barcode from (string)
                type:
                  type: string
                  description: The type of barcode you want to generate
                lineColor:
                  type: string
                  description: 'The color of the barcode (default: #000000)'
                backgroundColor:
                  type: string
                  description: 'The background color of the barcode (default: #ffffff)'
                displayValue:
                  type: boolean
                  description: >-
                    Whether to display the value below the barcode (default:
                    true)
              required:
                - data
                - type
      tags:
        - Data Generation
  /v1/base64:
    get:
      summary: Base64 Encoder/Decoder
      description: Encode text to Base64 format
      operationId: base64
      parameters:
        - name: text
          in: query
          schema:
            type: string
          required: true
          description: The text to encode
          example: Hello World
        - name: action
          in: query
          schema:
            type: string
          required: false
          description: The action to perform
          example: encode
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  action: encode
                  original: Hello World
                  encoded: SGVsbG8gV29ybGQ=
                  length: 16
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Data Conversion
  /v1/benchmarkrate:
    get:
      summary: Benchmark Rate
      description: Get the current value for a specific benchmark rate.
      operationId: benchmarkrate
      parameters:
        - name: rate
          in: query
          schema:
            type: string
          required: true
          description: The benchmark rate to retrieve
          example: SOFR
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  rate: SOFR
                  name: Secured Overnight Financing Rate
                  currency: USD
                  region: United States
                  administrator: Federal Reserve Bank of New York
                  value: 4.32
                  date: '2026-02-04'
                  lastUpdated: '2026-02-05T05:00:00.000Z'
                  change1d: -0.01
                  changeDirection: down
                  previousValue: 4.33
                  previousDate: '2026-02-03'
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Finance
  /v1/bible:
    get:
      summary: Bible
      description: Get a bible chapter or verse based on the book, chapter, and or verse
      operationId: bible
      parameters:
        - name: book
          in: query
          schema:
            type: string
          required: true
          description: The name of the book in the bible (e.g., Genesis)
          example: Genesis
        - name: version
          in: query
          schema:
            type: string
          required: true
          description: The Bible translation version
          example: KJV
        - name: chapter
          in: query
          schema:
            type: integer
          required: true
          description: The chapter number in the book
          example: 5
        - name: verse
          in: query
          schema:
            type: integer
          required: false
          description: The verse number in the chapter
          example: 17
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  text: >-
                    But with thee will I establish my covenant; and thou shalt
                    come into the ark, thou, and thy sons, and thy wife, and thy
                    sons' wives with thee.
                  book: Genesis
                  abbr: gn
                  chapter: 6
                  verses:
                    - 18
                  version: KJV
                  testament: Old Testament
                  bookNumber: 1
                  totalChapters: 50
                  totalVersesInChapter: 22
                  wordCount: 29
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Data Lookup
  /v1/bimivalidator:
    get:
      summary: BIMI Record Validator
      description: >-
        BIMI Validator checks if a domain has a valid BIMI record published in
        DNS. BIMI enables domain owners to display verified logos in supported
        email clients.
      operationId: bimivalidator
      parameters:
        - name: domain
          in: query
          schema:
            type: string
          required: true
          description: The domain to validate the BIMI record for
          example: ebay.com
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  host: ebay.com
                  bimi_host: default._bimi.ebay.com
                  has_bimi_record: true
                  bimi_record: v=BIMI1;l=https://vmc.digicert.com/2b7216dc-27d2-4fbd-8472-f68790117238.svg;a=https://vmc.digicert.com/2b7216dc-27d2-4fbd-8472-f68790117238.pem
                  bimi_records_count: 1
                  version: BIMI1
                  svg_logo:
                    url: https://vmc.digicert.com/2b7216dc-27d2-4fbd-8472-f68790117238.svg
                    status_code: 200
                    valid: true
                    file_size_bytes: 1518
                  vmc_certificate:
                    url: https://vmc.digicert.com/2b7216dc-27d2-4fbd-8472-f68790117238.pem
                    status_code: 200
                    valid: true
                  issues_found: []
                  valid: true
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Domain Data
  /v1/bingocardgenerator:
    get:
      summary: Bingo Card Generator
      description: Generate random bingo card with HTML and image
      operationId: bingocardgenerator
      parameters:
        - name: size
          in: query
          schema:
            type: integer
          required: false
          description: Card size (3x3 to 10x10)
          example: 5
        - name: freeSpace
          in: query
          schema:
            type: boolean
          required: false
          description: Include free space in center
          example: true
        - name: image
          in: query
          schema:
            type: boolean
          required: false
          description: Set to true to generate a downloadable bingo card image
          example: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  card:
                    - - 14
                      - 19
                      - 42
                      - 47
                      - 71
                    - - 4
                      - 17
                      - 36
                      - 50
                      - 69
                    - - 11
                      - 18
                      - FREE
                      - 53
                      - 73
                    - - 15
                      - 23
                      - 41
                      - 52
                      - 68
                    - - 8
                      - 27
                      - 43
                      - 58
                      - 75
                  html: >-
                    <html><head><title>Bingo Card</title><style>body
                    {font-family: Arial, sans-serif; padding: 20px;}table
                    {border-collapse: collapse; margin: 0 auto;}td {text-align:
                    center; width: 60px; height: 60px; border: 2px solid #000;
                    font-size: 20px; font-weight: bold;}th {text-align: center;
                    width: 60px; height: 40px; border: 2px solid #000;
                    font-size: 24px; font-weight: bold; background-color:
                    #4CAF50; color: white;}.free-space {background-color:
                    #FFD700; font-size:
                    14px;}</style></head><body><table><tr><th>B</th><th>I</th><th>N</th><th>G</th><th>O</th></tr><tr><td
                    class=''>14</td><td class=''>19</td><td class=''>42</td><td
                    class=''>47</td><td class=''>71</td></tr><tr><td
                    class=''>4</td><td class=''>17</td><td class=''>36</td><td
                    class=''>50</td><td class=''>69</td></tr><tr><td
                    class=''>11</td><td class=''>18</td><td
                    class='free-space'>FREE</td><td class=''>53</td><td
                    class=''>73</td></tr><tr><td class=''>15</td><td
                    class=''>23</td><td class=''>41</td><td class=''>52</td><td
                    class=''>68</td></tr><tr><td class=''>8</td><td
                    class=''>27</td><td class=''>43</td><td class=''>58</td><td
                    class=''>75</td></tr></table></body></html>
                  size: 5
                  freeSpace: true
                  totalCells: 25
                  winningPatterns:
                    - horizontal
                    - vertical
                    - diagonal
                    - four corners
                    - blackout (all cells)
                  image:
                    imageName: 8dcb6cee-a419-4501-a13c-ff6eafd393b7_bingo.png
                    format: .png
                    downloadURL: https://storage.googleapis.com/apiverve/APIData/bingocardgenerator/8dcb6cee-a419-4501-a13c-ff6eafd393b7_bingo.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1766010022&Signature=ErKaS3I1DaHCBxYRxnjx5QLHm0S3zfpJIWzz7BosGyhDwYSejCHlfcSI%2BKOHJzxEiUdSWFFt947%2BLzHGpVZrLYPxGGvgCVPOKZ4H9vfgyJPP%2BF9LICc9kLG6%2FwevlPsAHHHLjoLS%2F7OVByiwzTWguRzcbyYT44XpbbU0IsOA40S7Utqt%2BjAC5%2FSfhW4z%2FdJE2yXsSNqr3acEJB70cVde3qkP80Iv6H7%2FZB08EDjbakauJmjASJ86H%2BWM2b9BPo250bBzLtGPxW8KZUVgy79SDxJu8VVnzAhiWzcmih9UrBUvejuxkbPIAx6ohwHepmh414G0wvAcxtHRaXx4O5cr7g%3D%3D
                    expires: 1766010022446
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Data Generation
  /v1/binlookup:
    get:
      summary: BIN Lookup
      description: Lookup credit card information based on the BIN
      operationId: binlookup
      parameters:
        - name: bin
          in: query
          schema:
            type: string
          required: true
          description: The first six digits of the credit card number (BIN)
          example: '448590'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  bin: '448590'
                  brand: VISA
                  type: CREDIT
                  category: PURCHASING
                  country: United States
                  issuer:
                    name: JPMORGAN CHASE BANK, N.A.
                    country: United States
                    phone: 1-800-432-3117
                    website: www.chase.com
                  location:
                    latitude: '37.0902'
                    longitude: '-95.7129'
                    alpha2: US
                    alpha3: USA
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Finance
  /v1/birthstones:
    get:
      summary: Birthstones
      description: Get birthstone information for a specific month
      operationId: birthstones
      parameters:
        - name: month
          in: query
          schema:
            type: string
          required: true
          description: The month number (1-12) or name
          example: '5'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  count: 1
                  birthstones:
                    - month: 5
                      monthName: May
                      primaryStone: Emerald
                      alternateStones:
                        - Chrysoprase
                        - Agate
                      color: Green
                      meaning: Rebirth, love, fertility
                      zodiacSigns:
                        - Taurus
                        - Gemini
                      hardness: 7.5
                      mineralFamily: Beryl
                      anniversaryYear: 55
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Reference Data
  /v1/bitcoin:
    get:
      summary: Bitcoin Price
      description: >-
        Get the current price of Bitcoin. You can optionally specify a currency,
        e.g. USD
      operationId: bitcoin
      parameters:
        - name: currency
          in: query
          schema:
            type: string
          required: false
          description: The currency to get the price in
          example: USD
        - name: hourly
          in: query
          schema:
            type: boolean
          required: false
          description: Include hourly price data for the past 24 hours
          example: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  currency: USD
                  price: 97250.43
                  marketCap: 1928000000000
                  volume24h: 35420000000
                  change24h: -1.52
                  lastUpdated: '2026-02-07T12:00:00.000Z'
                  high24h: 98750.21
                  low24h: 96125.88
                  changeDirection: down
                  formatted:
                    price: $97,250.43
                    marketCap: $1.93T
                    volume: $35.42B
                    priceWords: ninety-seven thousand two hundred fifty dollars
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Finance
  /v1/bluetoothlookup:
    get:
      summary: Bluetooth Company Lookup
      description: Lookup Bluetooth company/manufacturer by company ID
      operationId: bluetoothlookup
      parameters:
        - name: companyid
          in: query
          schema:
            type: string
          required: true
          description: >-
            The Bluetooth SIG company identifier (decimal or hex with 0x
            prefix). For example, 76 or 0x4C for Apple.
          example: '76'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  companyId: 76
                  companyIdHex: '0x004C'
                  found: true
                  company: Apple, Inc.
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Networking
  /v1/bmicalculator:
    get:
      summary: BMI Calculator
      description: Calculate BMI, ideal weight, BMR, TDEE, calorie targets and macros
      operationId: bmicalculator
      parameters:
        - name: weight
          in: query
          schema:
            type: number
          required: true
          description: Weight in kg (metric) or lbs (imperial)
          example: 180
        - name: height
          in: query
          schema:
            type: number
          required: true
          description: Height in cm (metric) or inches (imperial)
          example: 70
        - name: unit
          in: query
          schema:
            type: string
          required: true
          description: Unit system for weight and height
          example: imperial
        - name: age
          in: query
          schema:
            type: number
          required: false
          description: Age in years (required for BMR/TDEE calculations)
          example: 30
        - name: gender
          in: query
          schema:
            type: string
          required: false
          description: Gender (required for BMR/TDEE calculations)
          example: male
        - name: activityLevel
          in: query
          schema:
            type: string
          required: false
          description: Activity level (required for TDEE/calorie calculations)
          example: moderate
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  height: 70 inches
                  weight: 180 lbs
                  bmi: 25.83
                  bmiPrime: 1.033
                  category: Overweight
                  risk: Increased risk
                  summary: >-
                    BMI is above the healthy range. Lifestyle changes may be
                    beneficial.
                  idealWeightRange:
                    min: 129
                    max: 173.5
                    unit: lbs
                  weightToChange:
                    direction: lose
                    amount: 6.5
                    unit: lbs
                  bmr: 1783
                  tdee: 2763
                  calorieTargets:
                    extremeDeficit: 1763
                    moderateDeficit: 2263
                    maintain: 2763
                    moderateSurplus: 3063
                    bulkSurplus: 3263
                  macros:
                    lose:
                      protein: 198
                      carbs: 198
                      fat: 75
                    maintain:
                      protein: 207
                      carbs: 276
                      fat: 92
                    gain:
                      protein: 230
                      carbs: 345
                      fat: 85
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Health/Wellness
  /v1/boggleboardgenerator:
    get:
      summary: Boggle Board Generator
      description: Generate random Boggle board with HTML and image
      operationId: boggleboardgenerator
      parameters:
        - name: size
          in: query
          schema:
            type: integer
          required: false
          description: Board size
          example: 4
        - name: image
          in: query
          schema:
            type: boolean
          required: false
          description: Set to true to generate a downloadable board image
          example: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  board:
                    - - U
                      - A
                      - Z
                      - H
                    - - 'Y'
                      - L
                      - E
                      - A
                    - - A
                      - I
                      - E
                      - F
                    - - T
                      - D
                      - E
                      - X
                  size: 4
                  html: >-
                    <html><head><title>Boggle Board</title><style>table
                    {border-collapse: collapse; width: 320px; height: 320px;
                    font-family: Arial, sans-serif;}td {text-align: center;
                    width: 80px; height: 80px; padding: 0; border: 2px solid
                    #333; background-color: #f5e6d3; font-size: 24px;
                    font-weight: bold; color:
                    #2c1810;}</style></head><body><table><tr><td>U</td><td>A</td><td>Z</td><td>H</td></tr><tr><td>Y</td><td>L</td><td>E</td><td>A</td></tr><tr><td>A</td><td>I</td><td>E</td><td>F</td></tr><tr><td>T</td><td>D</td><td>E</td><td>X</td></tr></table></body></html>
                  image:
                    imageName: e91f26a6-95fc-47c1-9117-b0bb169c3418_boggle.png
                    format: .png
                    downloadURL: https://storage.googleapis.com/apiverve/APIData/boggleboardgenerator/e91f26a6-95fc-47c1-9117-b0bb169c3418_boggle.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1766010033&Signature=Y%2Bx7mfpf%2FtSwnIkgen0c5gfuBNROyJYByCnhToBZIM660VzCpCX8ON%2F9V1sBElqpDm2rePIfPMqiFG3DC5f98%2BczXodTl4TiUnDxyYm5uMv%2Fdr71kRdUnVKRMp42FkflnxQ2p8YMmRTEx279hpgRQb2BCx4e7ntQrh8uepKoaHY1G8gBOJIof0LQPSWo%2FygwA74Hmwwe8wTZcScXgTskxXm%2BpESGeOb942JiP8Pf9CL1RWOYdjIS3Kr4%2FcgnEMXPjKecOcNZaN%2BGQXm3UC6GAVHzA1QF0uOOKE%2FeyxybNRD1dc0uCUFNYHIpXpEJ8pPvzYHQlSNv1EPfpd4pMc9s9g%3D%3D
                    expires: 1766010033049
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Data Generation
  /v1/botdetector:
    get:
      summary: Bot Detector
      description: >-
        Analyzes a user agent string to determine if it belongs to a known bot
        or crawler, and returns detailed information about the bot type and
        category.
      operationId: botdetector
      parameters:
        - name: ua
          in: query
          schema:
            type: string
          required: true
          description: The user agent string to analyze (URL encoded)
          example: Googlebot/2.1 (+http://www.google.com/bot.html)
        - name: ip
          in: query
          schema:
            type: string
          required: false
          description: >-
            Optional IP the request came from. When the user agent claims to be
            a Google, Bing, OpenAI or Apple crawler, it is checked against that
            operator's published IP ranges
          example: 66.249.66.1
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  userAgent: Googlebot/2.1 (+http://www.google.com/bot.html)
                  isBot: true
                  bot:
                    name: Googlebot
                    category: search_engine
                    url: http://www.google.com/bot.html
                    reputation: trusted
                    shouldBlock: false
                  isAutomated: true
                  verified: true
                  riskScore: 0
                  riskLevel: low
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Networking
  /v1/bucketlist:
    get:
      summary: Bucket List
      description: >-
        Bucket List is a simple tool for getting a random bucket list item. It
        returns a random bucket list item
      operationId: bucketlist
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  bucketListItem: Go on a educational trip
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Entertainment
  /v1/caaparser:
    post:
      summary: CAA Record Parser
      description: Parse a DNS CAA record and extract authorization details
      operationId: caaparser
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  raw_record: example.com. 3600 IN CAA 0 issue "letsencrypt.org"
                  parsed:
                    domain: example.com
                    ttl: 3600
                    class: IN
                    flags: 0
                    tag: issue
                    value: letsencrypt.org
                  ca_info:
                    name: Let's Encrypt
                    type: Free
                    wildcard_support: true
                  interpretation:
                    meaning: Only letsencrypt.org is authorized to issue certificates
                    restriction: Restricted to specific CA
                    critical: false
                    critical_explanation: Non-critical - CA may proceed if not understood
                  tag_description: Authorizes a CA to issue certificates (any type)
                  is_valid: true
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                record:
                  type: string
                  description: The CAA record string to parse
              required:
                - record
      tags:
        - Reference Data
  /v1/callingcode:
    get:
      summary: Country Calling Code
      description: >-
        Country Calling Code is a simple tool for getting the country's
        international dialing codes. It returns the country's international
        dialing codes.
      operationId: callingcode
      parameters:
        - name: country
          in: query
          schema:
            type: string
          required: true
          description: The 2 letter ISO code for the country (e.g. FR)
          example: FR
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  country: France
                  officialName: French Republic
                  countryCode: FR
                  callingcodes:
                    - '+33'
                  region: Europe
                  subregion: Western Europe
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Data Lookup
  /v1/captchagenerator:
    get:
      summary: Captcha Generator
      description: >-
        Captcha Generator is a simple tool for generating captchas. It returns a
        random string of characters that can be used as a captcha.
      operationId: captchagenerator
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  id: e183c54c-5bf6-455e-bc96-195685cee71c
                  expires: 1766010041360
                  solution: fwvct
                  downloadURL: https://storage.googleapis.com/apiverve/APIData/captchagenerator/e183c54c-5bf6-455e-bc96-195685cee71c.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1766010041&Signature=LLBhTrpVAk%2Bzx%2B2U7sdbIfjUOm%2FEe4hP7ebqGfphThctFRbHs9oyHPJ3J7BCAu71WswQr1qOKh%2BQddOPTGFCVUVL%2BlN1Qxt%2BlIBXYVM7%2FzW3YlfbHmFbXaesr%2BC7pFW6ekZ88fobbOP%2FcGbKdtVL1Vz9ceomtqUw%2Bl9Mwy3FCkpmwPHzGxW56%2BAHB%2B5TQgH2S%2FcmkJkPUxMSGnztQerMNB7V2JrhpuBLZl7N%2FPRucwJswVX6LYYOfNlvrFuxwJwS%2BBot9TesdYlPPDZgOfBo0%2FGgGMzIc753aPUIzkJoeMyPZgJGRilPQNrWJgp%2F7mmx4WNq6QgdIZPlQ36FlDHMsg%3D%3D
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
        - Data Generation
  /v1/carddeckshuffler:
    get:
      summary: Card Deck Shuffler
      description: Shuffle one or more standard card decks with optional jokers
      operationId: carddeckshuffler
      parameters:
        - name: decks
          in: query
          schema:
            type: integer
          required: false
          description: Number of decks to shuffle
          example: 1
        - name: jokers
          in: query
          schema:
            type: boolean
          required: false
          description: Include jokers in the deck
          example: false
        - name: method
          in: query
          schema:
            type: string
          required: false
          description: Shuffling method
          example: fisher-yates
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  total_cards: 52
                  decks_used: 1
                  includes_jokers: false
                  shuffle_method: fisher-yates
                  cards:
                    - rank: '8'
                      suit: Spades
                      card: 8 of Spades
                      short: 8♠
                    - rank: '2'
                      suit: Spades
                      card: 2 of Spades
                      short: 2♠
                    - rank: Queen
                      suit: Hearts
                      card: Queen of Hearts
                      short: Q♥
                    - rank: '7'
                      suit: Clubs
                      card: 7 of Clubs
                      short: 7♣
                    - rank: Queen
                      suit: Spades
                      card: Queen of Spades
                      short: Q♠
                    - rank: King
                      suit: Hearts
                      card: King of Hearts
                      short: K♥
                    - rank: '6'
                      suit: Spades
                      card: 6 of Spades
                      short: 6♠
                    - rank: Queen
                      suit: Diamonds
                      card: Queen of Diamonds
                      short: Q♦
                    - rank: King
                      suit: Diamonds
                      card: King of Diamonds
                      short: K♦
                    - rank: '4'
                      suit: Hearts
                      card: 4 of Hearts
                      short: 4♥
                    - rank: '7'
                      suit: Hearts
                      card: 7 of Hearts
                      short: 7♥
                    - rank: '8'
                      suit: Clubs
                      card: 8 of Clubs
                      short: 8♣
                    - rank: '4'
                      suit: Spades
                      card: 4 of Spades
                      short: 4♠
                    - rank: '9'
                      suit: Hearts
                      card: 9 of Hearts
                      short: 9♥
                    - rank: Ace
                      suit: Diamonds
                      card: Ace of Diamonds
                      short: A♦
                    - rank: Jack
                      suit: Diamonds
                      card: Jack of Diamonds
                      short: J♦
                    - rank: Jack
                      suit: Hearts
                      card: Jack of Hearts
                      short: J♥
                    - rank: '2'
                      suit: Clubs
                      card: 2 of Clubs
                      short: 2♣
                    - rank: Jack
                      suit: Clubs
                      card: Jack of Clubs
                      short: J♣
                    - rank: Queen
                      suit: Clubs
                      card: Queen of Clubs
                      short: Q♣
                    - rank: '9'
                      suit: Spades
                      card: 9 of Spades
                      short: 9♠
                    - rank: '8'
                      suit: Diamonds
                      card: 8 of Diamonds
                      short: 8♦
                    - rank: '10'
                      suit: Spades
                      card: 10 of Spades
                      short: 10♠
                    - rank: '9'
                      suit: Clubs
                      card: 9 of Clubs
                      short: 9♣
                    - rank: '4'
                      suit: Clubs
                      card: 4 of Clubs
                      short: 4♣
                    - rank: Ace
                      suit: Clubs
                      card: Ace of Clubs
                      short: A♣
                    - rank: '7'
                      suit: Diamonds
                      card: 7 of Diamonds
                      short: 7♦
                    - rank: '7'
                      suit: Spades
                      card: 7 of Spades
                      short: 7♠
                    - rank: '5'
                      suit: Diamonds
                      card: 5 of Diamonds
                      short: 5♦
                    - rank: '10'
                      suit: Clubs
                      card: 10 of Clubs
                      short: 10♣
                    - rank: '10'
                      suit: Diamonds
                      card: 10 of Diamonds
                      short: 10♦
                    - rank: '6'
                      suit: Hearts
                      card: 6 of Hearts
                      short: 6♥
                    - rank: King
                      suit: Spades
                      card: King of Spades
                      short: K♠
                    - rank: Jack
                      suit: Spades
                      card: Jack of Spades
                      short: J♠
                    - rank: Ace
                      suit: Hearts
                      card: Ace of Hearts
                      short: A♥
                    - rank: '5'
                      suit: Hearts
                      card: 5 of Hearts
                      short: 5♥
                    - rank: King
                      suit: Clubs
                      card: King of Clubs
                      short: K♣
                    - rank: '10'
                      suit: Hearts
                      card: 10 of Hearts
                      short: 10♥
                    - rank: '2'
                      suit: Diamonds
                      card: 2 of Diamonds
                      short: 2♦
                    - rank: Ace
                      suit: Spades
                      card: Ace of Spades
                      short: A♠
                    - rank: '3'
                      suit: Clubs
                      card: 3 of Clubs
                      short: 3♣
                    - rank: '5'
                      suit: Clubs
                      card: 5 of Clubs
                      short: 5♣
                    - rank: '8'
                      suit: Hearts
                      card: 8 of Hearts
                      short: 8♥
                    - rank: '3'
                      suit: Spades
                      card: 3 of Spades
                      short: 3♠
                    - rank: '6'
                      suit: Clubs
                      card: 6 of Clubs
                      short: 6♣
                    - rank: '4'
                      suit: Diamonds
                      card: 4 of Diamonds
                      short: 4♦
                    - rank: '2'
                      suit: Hearts
                      card: 2 of Hearts
                      short: 2♥
                    - rank: '3'
                      suit: Diamonds
                      card: 3 of Diamonds
                      short: 3♦
                    - rank: '9'
                      suit: Diamonds
                      card: 9 of Diamonds
                      short: 9♦
                    - rank: '5'
                      suit: Spades
                      card: 5 of Spades
                      short: 5♠
                    - rank: '3'
                      suit: Hearts
                      card: 3 of Hearts
                      short: 3♥
                    - rank: '6'
                      suit: Diamonds
                      card: 6 of Diamonds
                      short: 6♦
                  top_card:
                    rank: '8'
                    suit: Spades
                    card: 8 of Spades
                    short: 8♠
                  bottom_card:
                    rank: '6'
                    suit: Diamonds
                    card: 6 of Diamonds
                    short: 6♦
                  sample_hand:
                    - rank: '8'
                      suit: Spades
                      card: 8 of Spades
                      short: 8♠
                    - rank: '2'
                      suit: Spades
                      card: 2 of Spades
                      short: 2♠
                    - rank: Queen
                      suit: Hearts
                      card: Queen of Hearts
                      short: Q♥
                    - rank: '7'
                      suit: Clubs
                      card: 7 of Clubs
                      short: 7♣
                    - rank: Queen
                      suit: Spades
[...]
