openapi: 3.2.0
info:
  title: APIVerve Science API
  description: One API key, 370+ real-world REST endpoints — weather, geocoding, finance, DNS, validation, text processing and more. Every endpoint returns JSON. Full documentation at https://docs.apiverve.com.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  license:
    name: APIVerve Terms of Service
    url: https://apiverve.com/terms/
  version: 1.0.0
  x-logo:
    url: https://apiverve.com/images/favicon.png
    altText: APIVerve
servers:
- url: https://api.apiverve.com
security:
- api_key: []
tags:
- name: Science
paths:
  /v1/julianday:
    get:
      summary: Julian Day Calculator
      description: Convert a Gregorian date to Julian Day Number
      operationId: julianday
      parameters:
      - name: date
        in: query
        schema:
          type: string
        required: true
        description: The Gregorian date in YYYY-MM-DD format
        example: '2024-03-15'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  gregorian: '2024-03-15'
                  julianDayNumber: 2460385
                  modifiedJulianDate: 60384.5
                  dayOfWeek: Friday
                  weekNumber: 11
                  dayOfYear: 75
                  daysFromToday: -340
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Science
  /v1/meteorites:
    get:
      summary: Meteorite Landings
      description: Get a list of meteorites that have fallen to Earth
      operationId: meteorites
      parameters:
      - name: name
        in: query
        schema:
          type: string
        required: true
        description: The name of the meteorite you want to search for
        example: Allende
      - name: mass
        in: query
        schema:
          type: number
        required: false
        description: Minimum mass of the meteorite in grams
        example: 100
      - name: year
        in: query
        schema:
          type: number
        required: false
        description: The year the meteorite fell to Earth
        example: 1969
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  count: 1
                  filteredOn:
                  - name
                  meteors:
                  - name: Allende
                    recclass: CV3
                    mass: '2000000'
                    year: '1969'
                    geolocation:
                      type: Point
                      coordinates:
                      - -105.31667
                      - 26.96667
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Science
  /v1/periodictable:
    get:
      summary: Periodic Table
      description: Get information about a chemical element
      operationId: periodictable
      parameters:
      - name: name
        in: query
        schema:
          type: string
        required: true
        description: The name of the chemical element to get information about
        example: hydrogen
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  count: 1
                  elements:
                  - name: Hydrogen
                    appearance: colorless gas
                    atomic_mass: 1.008
                    boil: 20.271
                    category: diatomic nonmetal
                    density: 0.08988
                    discovered_by: Henry Cavendish
                    melt: 13.99
                    molar_heat: 28.836
                    named_by: Antoine Lavoisier
                    number: 1
                    period: 1
                    group: 1
                    phase: Gas
                    source: https://en.wikipedia.org/wiki/Hydrogen
                    summary: Hydrogen is a chemical element with chemical symbol H and atomic number 1. With an atomic weight of 1.00794 u, hydrogen is the lightest element on the periodic table. Its monatomic form (H) is the most abundant chemical substance in the Universe, constituting roughly 75% of all baryonic mass.
                    symbol: H
                    xpos: 1
                    ypos: 1
                    wxpos: 1
                    wypos: 1
                    shells:
                    - 1
                    electron_configuration: 1s1
                    electron_configuration_semantic: 1s1
                    electron_affinity: 72.769
                    electronegativity_pauling: 2.2
                    ionization_energies:
                    - 1312
                    cpk-hex: ffffff
                    block: s
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Science
  /v1/starslookup:
    get:
      summary: Stars Lookup
      description: Lookup star data based on the star name
      operationId: starslookup
      parameters:
      - name: name
        in: query
        schema:
          type: string
        required: true
        description: The name of the star for which you want to get the data (e.g., Sirius)
        example: Sirius
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  starName: Sirius
                  mass: 4.674385e+30
                  diameter: 2825760
                  galX: -5.895
                  galY: -6.152
                  galZ: -1.167
                  dist: 8.6
                  starType: A1(V)
                  temp: 9500
                  color: '0xbaccff'
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      tags:
      - Science
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
externalDocs:
  description: APIVerve Documentation
  url: https://docs.apiverve.com
